* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #222222;
    background-image: url("../images/bg/landscape-mode.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.summary {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, rgba(11, 11, 14, 0.753), rgba(0, 119, 255, 0.103));
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 51px;
    font-family: myFont2, sans-serif;
    cursor: default;
    font-size: small;
}

.summary p {
    font-size: medium;
}

.summarycontent {
    display: flex;
    background-color: rgba(40, 42, 54, 0.200);
    background-image: linear-gradient(to right, rgba(24, 24, 41, 0.753), rgba(0, 119, 255, 0.281));
    border-radius: 10px;
    text-align: justify;
    font-family: sans-serif;
    color: white;
    padding: 25px;
    cursor: default;
}

.experience {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, rgba(11, 11, 14, 0.753), rgba(0, 119, 255, 0.103));
    text-align: center;
    color: white;
    padding: 15px;
    margin: 1px 0;
    font-family: sans-serif;
    cursor: default;
    font-size: small;
}

.xpcontent h2 {
    font-family: myFont2, sans-serif;
}

.xpcontent {
    font-family: sans-serif;
    color: white;
    padding: 30px;
    cursor: default;
}

.xpcontent p {
    padding: 10px;
    display: inline-block;
    background-color: rgba(40, 42, 54, 0.200);
    background-image: linear-gradient(to right, rgba(24, 24, 41, 0.753), rgba(0, 119, 255, 0.281));
    border-radius: 0 10px 0 10px;
    cursor: default;
    width: 175px;
    font-size: medium;
}

.expapp {
    text-align: center;
    color: white;
    padding: 5px;
    font-family: sans-serif;
    cursor: default;
}

.appxpcontent h2 {
    font-family: myFont2, sans-serif;
    font-size: medium;
}

.appxpcontent {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, rgba(11, 11, 14, 0.753), rgba(0, 119, 255, 0.103));
    font-family: sans-serif;
    color: white;
    padding: 50px;
    cursor: default;
}

.applogo img {
    width: 50px;
    height: 50px;
    padding: 2px;
    border-radius: 6px;
    opacity: 0.6;
    pointer-events: none;
}

/*  */
.me {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, rgba(18, 18, 26, 0.753), rgba(0, 119, 255, 0.103));
    background-color: rgba(20, 20, 20, 0.5);
    margin: 8px;
    padding: 10px;
    border-radius: 9px;
}

.card img {
    max-width: 100%;
    border-radius: 9px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #fff;
    margin-bottom: -70px;
    pointer-events: none;
}

.my-info {
    font-family: myFont2, sans-serif;
    font-size: small;
    color: white;
    padding: 10px 16px;
    cursor: default;
    background-color: rgba(20, 20, 20, 0.600);
    border-radius: 50px 50px 5px 5px;
}

.my-info h2 {
    border-style: solid;
    border-width: 0 0 2px 0;
    margin-top: 70px;
    text-align: center;
}

.my-info p {
    font-size: 12px;
}

/*  */
.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.contact,
.email,
.exp {
    color: #2c687e;
    cursor: default;
}

.footer {
    position: absolute;
    width: 100%;
    padding: 8px 0;
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgba(11, 11, 14, 0.753), rgba(0, 119, 255, 0.103));
    font-family: myFont2, sans-serif;
    font-size: x-small;
    border-top: solid thin dodgerblue;
}

.copyright p {
    text-align: center;
    color: white;
    cursor: default;
}

.detail-container {
    display: flex;
    justify-content: center;
}

.detail {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    font-size: xx-small;
}

.detail:hover {
    color: rgb(33, 110, 197);
    transition: 0.5s ease;
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
    .me {
        width: 100%;
        display: block;
    }
    .my-info h2,
    p {
        text-align: center;
    }
    .summary .summarycontent p {
        text-align: justify;
    }
    body {
        background-image: url("../images/bg/portrait-mode.png");
    }
}
