@font-face {
    font-family: myFont;
    src: url("../fonts/ethnocentric/ethnocentric\ rg\ it.otf");
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgb(30, 31, 37);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: dodgerblue;
    border-radius: 9px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: dodgerblue;
}
body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    background-image: linear-gradient(to right, rgb(21, 24, 37), rgb(20, 46, 75));
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.nav-menu li {
    list-style: none;
}
.nav-menu {
    padding: 0;
}
a {
    color: white;
    text-decoration: none;
}
.navbar {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: #15202f;
    border-radius: 50px;
    border: solid thin dodgerblue;
    opacity: 0.1;
    transition: all 0.5s ease-in-out;
}
.nav-menu:hover {
    opacity: 1;
}
.nav-link,
.nav-link-dropdown {
    border: none;
    background: none;
    color: white;
    font-family: 'myFont', sans-serif;
    font-size: 0.6rem;
    cursor: pointer;
    border-style: none;
    transition: all 0.4s ease-in-out;
    padding: 15px 25px 12px;
    border-radius: 9px;
}
.nav-link-dropdown:hover,
.nav-link:hover {
    color: dodgerblue;
}
.dropdown-content {
    display: flex;
    width: auto;
    height: 100vh;
    border-radius: 30px 0 0 30px;
    border: solid thin dodgerblue;
    flex-direction: column;
    justify-content: start;
    box-shadow: none;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: inherit;
    background-image: linear-gradient(to right, rgb(21, 24, 37), rgb(20, 46, 75));
    transition: all 0.5s ease 0s;
    overflow: auto;
    z-index: 5;
}
.dropdown-content a {
    color: rgb(255, 255, 255);
    width: 50px;
    padding: 19px 20px;
    text-decoration: none;
    font-family: myFont, sans-serif;
    font-size: 0.6rem;
    font-weight: 500;
    border-width: 0 1px 0 0;
    transition: all 0.5s ease-in-out;
}
.show {
    right: 0px;
}
.dropdown-content a:hover {
    background-color: #ddd;
    background-image: linear-gradient(to right, rgba(0, 102, 255, 0.5), rgba(255, 255, 255, 0));
    color: #000000;
}
.slideshow-container {
    position: relative;
}
.mySlides {
    display: none;
}
.mySlides img {
    width: 100%;
    border: solid thin dodgerblue;
    background-color: #ffffff;
    height: 100vh;
    max-height: 100vh;
    pointer-events: none;
}
.botnav {
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    opacity: 0.3;
    transition: 0.5s ease-in-out;
}
.botnav:hover {
    opacity: 1;
}
.btn {
    display: flex;
    justify-content: center;
}
.next,
.prev {
    cursor: pointer;
    position: relative;
    margin: 0 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2.10rem;
    transition: 0.6s ease;
    user-select: none;
}
.next:hover,
.prev:hover {
    color: dodgerblue;
}
.numbertext {
    color: #ffff;
    background-color: rgba(30, 143, 255, 0.500);
    font-family: sans-serif;
    padding: 10px 12px;
    position: fixed;
    border-radius: 0 10px 10px 0;
    bottom: 13px;
    cursor: default;
    z-index: 2;
}
@media screen and (max-width: 500px) {
    .chapter-indicator {
        font-size: 0.4rem;
    }
    .mySlides img {
        object-fit: contain;
        object-position: center;
    }
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}
