* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.category-container,
li,
ul {
    list-style: none;
    padding-left: 0;
}

.category-navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgb(21, 24, 37), rgb(20, 46, 75));
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: dodgerblue;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.5);
    top: 50px;
    z-index: 99;
}

.category-navigation h1 {
    text-align: center;
    font-family: myFont2, sans-serif;
    font-size: 1.1rem;
    color: dodgerblue;
    display: flex;
    cursor: default;
}

.top-spacing {
    margin-top: 100px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}

.mySlides img {
    width: 100%;
    height: 503px;
    object-fit: cover;
    object-position: center;
    border-radius: 9px;
    background: #1b3146;
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

.mySlides img:hover {
    box-shadow: rgb(0, 0, 0) 0 0 9px 0.5px;
    border: solid thin dodgerblue;
    transform: scale(1.01);
}

.btnlink:hover {
    transition: 0.5s ease-in-out;
}

.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -82px;
    padding: 50px 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    user-select: none;
    opacity: 0.3;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 20px 0 0 20px;
    background-image: linear-gradient(to left, rgba(0 49 85 / 90%) , rgba(0, 102, 255, 0.103));
}

/* Position the "next button" to the left */
.prev {
    left: 0;
    border-radius: 0 20px 20px 0;
    background-image: linear-gradient(to right, rgba(0 49 85 / 90%) , rgba(0, 102, 255, 0.103));
}

/* On hover, add a black background color with a little bit see-through */
.next:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.mySlides {
    display: none;
}

.active-slide {
    display: block;
}

/* Title of the slideshow */
.comic-title {
    color: #ffff;
    font-size: 0.9rem;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 0;
    background-image: linear-gradient(to right, rgb(21, 24, 37, 0.6), rgb(20, 46, 75, 0.6));
    font-family: myFont2, sans-serif;
    cursor: default;
    border-radius: 0 10px 10px 0;
    z-index: 1;
}

/* Chapter text */
.chapter {
    color: #fff;
    background-image: linear-gradient(to right, rgb(21, 24, 37, 0.6), rgb(20, 46, 75, 0.6));
    font-family: myFont2, sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 31px;
    left: 0;
    width: 100%;
    text-align: left;
    cursor: default;
    border-radius: 0 0 9px 6px;
}

.btn-container {
    position: relative;
    display: flex;
    width: 100%;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    padding: 5px 11px;
    background-color: rgb(24, 23, 23);
    transition: background-color 0.6s ease 0s;
    position: relative;
    bottom: 52px;
    border-style: none;
    left: 132px;
    transition: all 0.5s ease-in-out;
}

.dot a {
    color: white;
    text-decoration: none;
    font-family: myFont2, sans-serif;
    font-size: small;
}

.active,
.dot:hover {
    background-color: rgb(20, 103, 158);
}

@media screen and (max-width: 500px) {
    .next,
    .prev {
        font-size: 20px;
        padding: 30px 10px;
    }
    .mySlides img {
        height: 250px;
    }
    .chapter {
        border-radius: 0;
    }
    .comic-title {
        font-size: 0.5rem;
    }
    .dot a {
        font-size: 0.5rem;
    }
    .mySlides img {
        border-radius: 0;
    }
    .chapter p {
        font-size: 0.7rem;
    }
}

.footer {
    position: relative;
    padding: 8px 0;
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgb(21, 24, 37), rgb(20, 46, 75));
    font-family: myFont2, sans-serif;
    font-size: 0.6rem;
    border-top: solid thin rgb(28 55 97);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -8px 9px 0 rgba(0, 0, 0, 0.5);
}

.copyright p {
    text-align: center;
    color: dodgerblue;
    cursor: default;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.detail {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    font-size: 0.5rem;
    transition: 0.5s ease-in-out;
}

.detail:hover {
    color: rgb(33, 110, 197);
    text-decoration: underline;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
