* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #222222;
    background-image: linear-gradient(to left, rgba(14, 98, 194, 0.103) , rgba(14, 11, 11, 0.753));
    margin: 0;
    padding: 0;
}

.dots-container,
li,
ul {
    list-style: none;
    padding-left: 0;
}

.title {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgba(11, 11, 14, 0.753), rgba(0, 119, 255, 0.103));
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #343434;
    top: 50px;
    z-index: 99;
}

.title h1 {
    text-align: center;
    font-family: myFont2, sans-serif;
    font-size: large;
    color: #ffff;
    display: flex;
    cursor: default;
}

.top-spacing {
    margin-top: 95px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}

.mySlides img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    object-position: center;
    border-radius: 9px;
    border-style: solid;
    border-width: thin;
    border-color: dodgerblue;
    background: dodgerblue;
}

.mySlides img:hover {
    transition: 0.5s ease;
    box-shadow: dodgerblue 0 0 10px 0.5px;
}

.btnlink:hover {
    opacity: 0.7;
    transition: 0.5s ease;
}

/* Next & previous buttons */
.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -82px;
    padding: 50px 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 20px 0 0 20px;
    background-image: linear-gradient(to left, rgba(0 49 85 / 90%) , rgba(0, 102, 255, 0.103));
}

/* Position the "next button" to the left */
.prev {
    left: 0;
    border-radius: 0 20px 20px 0;
    background-image: linear-gradient(to right, rgba(0 49 85 / 90%) , rgba(0, 102, 255, 0.103));
}

/* On hover, add a black background color with a little bit see-through */
.next:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.mySlides {
    display: none;
}

.active-slide {
    display: block;
}

/* Title of the slideshow */
.comic-title {
    color: #f2f2f2;
    font-size: large;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.900) , rgba(0, 102, 255, 0.103));
    font-family: myFont2, sans-serif;
    cursor: default;
    z-index: 1;
}

/* Chapter text */
.chapter {
    color: #fff;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.900) , rgba(0, 102, 255, 0.103));
    font-family: myFont2, sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 32px;
    left: 0;
    width: 100%;
    text-align: left;
    cursor: default;
    border-radius: 0 0 9px 6px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    padding: 5px 11px;
    background-color: rgb(24, 23, 23);
    transition: background-color 0.6s ease 0s;
    position: relative;
    bottom: 52px;
    border-style: none;
    left: 132px;
    text-align: center;
}

.dot a {
    color: white;
    text-decoration: none;
    font-family: myFont2, sans-serif;
    font-size: small;
}

.active,
.dot:hover {
    background-color: rgb(20, 103, 158);
}

@media screen and (max-width: 500px) {
    .next,
    .prev {
        font-size: 20px;
        padding: 30px 10px;
    }
    .mySlides img {
        height: 250px;
        border-radius: 0;
    }
    .comic-title {
        font-size: small;
    }
    .dot a {
        font-size: x-small;
    }
}

.footer {
    position: relative;
    padding: 8px 0;
    background-color: #1a1a1a;
    background-image: linear-gradient(to left, rgba(14, 98, 194, 0.103) , rgba(14, 11, 11, 0.753));
    font-family: myFont2, sans-serif;
    font-size: x-small;
    border-top: solid thin dodgerblue;
}

.copyright p {
    text-align: center;
    color: white;
    cursor: default;
}

.detail-container {
    display: flex;
    justify-content: center;
}

.detail {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    font-size: xx-small;
}

.detail:hover {
    color: rgb(33, 110, 197);
    transition: 0.5s ease;
    text-decoration: underline;
}

/* Fading animation 
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}*/
