* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.category-container,
li,
ul {
    list-style: none;
    padding-left: 0;
}

.category-navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgb(21, 24, 37), rgb(20, 46, 75));
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: dodgerblue;
    top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.category-navigation h1 {
    text-align: center;
    font-family: myFont, sans-serif;
    font-size: 1.1rem;
    color: dodgerblue;
    display: flex;
    cursor: default;
}

.cs-container {
    padding: 10px;
    margin-top: 95px;
}

.cs-container h3 {
    padding: 9px;
    margin: auto;
    background-color: rgba(10, 15, 17, 0.50);
    border-radius: 9px;
    opacity: 0.7;
    letter-spacing: 3px;
    cursor: default;
    font-family: myFont, sans-serif;
    font-size: 0.9rem;
    color: dodgerblue;
}

.cs-container p {
    text-align: center;
    padding: 9px;
    background-color: rgba(46, 71, 94, 0.50);
    display: inline-block;
    border-radius: 50px;
    cursor: default;
    font-family: sans-serif;
    font-size: 0.8rem;
    color: white;
}

.price h5 {
    font-weight: bolder;
    color: dodgerblue;
    font-family: myFont;
    padding: 9px;
    border-radius: 5px;
    background-color: rgba(10, 15, 17, 0.50);
    opacity: 0.9;
    cursor: default;
}

.inquire-button {
    text-align: right;
    margin: 20px 0 10px;
    width: 100%;
    background-color: #19415B;
    border-radius: 1px 1px 10px 10px;
}

.inquire-button a {
    padding: 10px;
    background-color: #19415B;
    border-radius: 4px;
    border-radius: 10px 1px 10px 1px;
    font-size: 0.8rem;
    border-style: solid;
    border-color: dodgerblue;
    border-width: thin;
    font-family: myFont, sans-serif;
    transition: all 0.4s ease-in-out;
}

.inquire-button a:hover {
    color: #000000;
    box-shadow: dodgerblue 0 0 10px 0.5px;
}

@media screen and (max-width: 500px) {
    .inquire-button {
        text-align: center;
    }
    .cs-container p {
        text-align: left;
    }
}

.cs-content {
    color: white;
    text-align: center;
    padding: 5px 11px 10px;
    margin-bottom: 9px;
    background-image: url("../images/bg/");
    background-color: rgba(26, 26, 26, 0.5);
    box-shadow: 0 0 5px #0a0a0a;
    border-radius: 10px;
}

.img-container {
    text-align: center;
}

.cs-container img {
    margin: 5px 2px;
    width: 450px;
    object-fit: contain;
    object-position: center;
    aspect-ratio: 1 / 1;
    border-radius: 9px;
    border-style: solid;
    color: dodgerblue;
    background-image: radial-gradient(rgb(14 11 11), rgb(22 36 53));
    border-width: thin;
    pointer-events: none;
}

@media screen and (max-width:500px) {
    .cs-container img {
       width: 250px;
    }
}

.footer {
    position: relative;
    padding: 8px 0;
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgb(21, 24, 37), rgb(20, 46, 75));
    font-family: myFont, sans-serif;
    font-size: 0.6rem;
    border-top: solid thin rgb(28 55 97);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -8px 9px 0 rgba(0, 0, 0, 0.5);
}

.copyright p {
    text-align: center;
    color: dodgerblue;
    cursor: default;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.detail {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    font-size: 0.5rem;
}

.detail:hover {
    color: rgb(33, 110, 197);
    transition: 0.5s ease;
    text-decoration: underline;
}
