/* List Reset */
.category-container,
li,
ul {
    list-style: none;
    padding-left: 0;
}

/* Container */
.cs-container {
    padding: 10px;
    margin-top: 95px;
}

.cs-container h3 {
    padding: 9px;
    margin: auto;
    background-color: rgba(10, 15, 17, 0.50);
    border-radius: 9px;
    opacity: 0.7;
    letter-spacing: 3px;
    cursor: default;
    font-family: var(--font-style);
    font-size: 0.9rem;
    color: var(--default-font-color);
}

.cs-container p {
    text-align: center;
    padding: 9px;
    background-color: var(--color);
    display: inline-block;
    border-radius: 9px;
    cursor: default;
    font-family: sans-serif;
    font-size: 0.9rem;
    color: #0a0a0a;
    box-shadow: 0 0 5px #0a0a0a;
}

/* Price */
.price h5 {
    margin: 5px;
    letter-spacing: 3px;
    color: var(--color);
    font-size: 1.1rem;
    font-family: var(--font-style);
    padding: 9px;
    border-radius: 5px;
    background-color: var(--overlay);
    opacity: 0.9;
    cursor: default;
}

/* Inquire Button */
.inquire-button {
    text-align: center;
    margin: 20px 0 10px;
    width: 100%;
    background-color: var(--color);
    border-radius: 1px 1px 10px 10px;
}

.inquire-button a {
    padding: 10px;
    background-color: var(--color);
    border-radius: 50px;
    font-size: 0.9rem;
    border: solid thin #ffffff;
    font-family: var(--font-style);
    transition: 0.4s ease-in-out;
}

.inquire-button a:hover {
    box-shadow: var(--color) 0 0 10px 0.5px;
}

/* Content */
.cs-content {
    color: #ffffff;
    text-align: center;
    padding: 5px 11px 10px;
    margin-bottom: 9px;
    background-color: rgba(26, 26, 26, 0.5);
    box-shadow: 0 0 5px #0a0a0a;
    border-radius: 10px;
}

/* Image Container */
.img-container {
    text-align: center;
}

/* Image */
.cs-container img {
    margin: 5px 2px;
    width: 350px;
    object-fit: contain;
    object-position: center;
    aspect-ratio: 1 / 1;
    border-radius: 9px;
    border: solid thin var(--color);
    background: var(--content-bg);
    pointer-events: none;
}

/* Responsive Image */
@media screen and (max-width: 500px) {
    .cs-container img {
        width: 250px;
    }
    .cs-container p {
        text-align: left;
    }
}
