/* Container */
.cs-container {
    padding: 10px;
    margin-top: 90px;
    min-height: 100vh;
}

.cs-flex {
    display: flex;
    flex-direction: row;
}

.price {
    width: 100%;
    height: 350px;
    overflow: auto;
}

.price, .img-container {
    margin: 1px;
}

.cs-container h1 {
    background: var(--color);
    padding: 9px;
    letter-spacing: 3px;
    cursor: default;
    font-family: var(--font-style);
    font-size: 1.1rem;
    color: inherit;
    border-radius: 10px;
}

.cs-container p {
    text-align: left;
    padding: 9px;
    display: inline-block;
    border-radius: 10px;
    cursor: default;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    width: inherit;
}

/* Price */
.price h2 {
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: thin;
    margin: 0;
    letter-spacing: 3px;
    text-align: center;
    font-size: 1rem;
    color: var(--color);
    font-family: var(--font-style);
    padding: 9px;
    opacity: 0.9;
    cursor: default;
}

/* Inquire Button */
.inquire-button {
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.inquire-button a {
    padding: 10px 30px;
    margin: 5px;
    background: var(--color);
    border-radius: 50px;
    border: solid thin;
    color: inherit;
    font-family: var(--font-style);
    transition: 0.4s ease-in-out;
}

/* Content */
.cs-content {
    color: inherit;
    text-align: center;
    padding: 5px 11px 10px;
    box-shadow: 0 0 3px #000;
    border-radius: 10px;
    max-width: 1000px;
    margin: 10px auto;
}

/* Image */
.cs-container img {
    position: relative;
    width: 350px;
    object-fit: contain;
    object-position: center;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    border: solid thin var(--color);
    pointer-events: none;
}

/* Responsive Image */
@media screen and (max-width: 500px) {
    .cs-flex {
        flex-direction: column;
    }
    .inquire-button {
        text-align: center;
        flex-direction: column;
    }
    .cs-container img {
        width: 100%;
    }
}
