/* Contact Overlay */
.contact-container {
    margin-top: 50px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url('../assets/images/bg/wasteland.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

form.contact,
.e-wallet {
    flex: 1;
}

form.contact {
    color: #ffffff;
}

form.contact {
    padding: 30px 40px 20px;
    flex: 1.3;
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* Title */
form h1 {
    text-align: center;
    cursor: default;
    color: var(--color);
    font-family: var(--font-style);
}

/* E-Wallet */
.e-wallet {
    font-family: var(--font-style);
    font-size: 0.8rem;
    cursor: default;
    text-align: center;
    padding: 10px;
    background: var(--overlay-blue);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.dL {
    color: var(--color);
}

.dL:hover {
    text-decoration: underline;
}

/* Input Fields */
input[type="email"],
input[type="text"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: solid thin;
    border-radius: 50px;
    outline: none;
    margin: 8px 0;
    resize: vertical;
    background: none;
    color: var(--color);
    font-family: 'Poppins', sans-serif;
}

/* Message Input */
input[type="message"],
textarea {
    max-height: 150px;
    height: 150px;
    border-radius: 10px 30px 10px 30px;
    font-family: 'Poppins', sans-serif;
}

input[type="email"],
input[type="text"],
input[type="file"],
input[type="message"],
select,
textarea {
    transition: background-color 0.3s ease-in-out;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
textarea:focus, 
select:focus {
  border-color: #6C63FF; /* Accent color (e.g., light purple) */
  outline: none;
}

/* Submit Button */
input[type="Submit"] {
    background-color: var(--color);
    font-family: var(--font-style);
    color: inherit;
    padding: 10px 30px;
    border: solid thin;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Checkbox */
input[type="checkbox"] {
    cursor: pointer;
    margin-top: -2px;
}

/* File Input */
input[type="file"] {
    border-radius: 10px 10px 30px 10px;
    width: 100%;
}

#image-preview {
    border-radius: 10px;
    border: solid thin;
    color: var(--color);
}

#remove-btn {
    padding: 5px;
    border: solid thin;
    color: var(--color);
    background: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    margin: 5px auto;
    outline: none;
}

/* Terms of Service Container */
.tos-container {
    display: flex;
    justify-content: flex-end;
    cursor: default;
    font-size: small;
    font-family: var(--font-style);
}

/* Terms of Service */
.tos,
.tos-info {
    display: flex;
    cursor: pointer;
}

/* Terms of Service Info Image */
.tos-info img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
}

/* Logo View */
.logo-view img {
    position: relative;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.payment img {
    padding: 4px;
    margin: 3px;
    transition: transform 0.7s ease-in-out;
    border-radius: 50px;
    border: solid thin;
}

.payment img:hover {
    transform: rotate(360deg);
    box-shadow: var(--color) 0px 0px 50px 0.5px;
}

/* GBM Image */
.gbm img {
    width: 80%;
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.gbm img:hover {
    transform: scale(0.96);
    filter: drop-shadow(0 0 3px var(--color));
}

/* Error Messages */
#email-error,
#message-error,
#username-error,
#commission-error,
#file-error {
    position: relative;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 0, 0);
    padding-top: 2px;
    padding-left: 5px;
    transition: 0.3s ease-in-out;
    cursor: default;
}

/* Valid Messages */
#email-valid,
#message-valid,
#username-valid,
#commission-valid,
#file-valid {
    position: relative;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(144, 238, 144);
    padding-top: 2px;
    padding-left: 5px;
    transition: 0.3s ease-in-out;
    cursor: default;
}

/* Responsive Design */
@media screen and (max-width: 995px) {
    input[type="Submit"] {
        margin: 15px 0;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .contact-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .contact-container {
        flex-direction: column;
        background-image: url('../assets/images/bg/portrait-mode.webp');
    }

    .popup p {
        font-size: small;
    }
    .tos-container {
        justify-content: center;
    }

    .submit-container {
        justify-content: center;
    }
}
