.customer-support-container {
    margin-top: 60px;
}

form h1 {
    font-family: var(--font-style);
    text-align: center;
    color: var(--color);
    cursor: default;
}

/* General Form Styling */
form.customer {
    background: inherit;
    color: inherit;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px #000;
    max-width: 600px;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
}

/* Input Fields */
input[type="text"], 
input[type="email"],
input[type="file"],
textarea, 
select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 50px;
    border: 1px solid var(--color);
    background: none;
    color: var(--color);
    transition: border-color 0.3s ease;
}

/* Message Input */
input[type="message"],
textarea {
    max-height: 150px;
    height: 150px;
    border-radius: 10px 30px 10px 30px;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
textarea:focus, 
select:focus {
    border-color: #6C63FF; /* Accent color (e.g., light purple) */
    outline: none;
}

/* Textarea Styling */
textarea {
    resize: none;
    height: 150px;
}

/* File Input */
input[type="file"] {
    border: solid 1px var(--color);
    border-radius: 10px 10px 30px 10px;
    width: 100%;
}

/* Submit Button */
input[type="submit"] {
    background: var(--color);
    color: inherit;
    padding: 10px 30px;
    border: solid thin;
    border-radius: 50px;
    cursor: pointer;
    font-family: var(--font-style);
    transition: background-color 0.3s ease;
}

/* Responsive Styling */
@media (max-width: 768px) {
    form.customer {
      padding: 15px;
      border-radius: 0;
    }
    input[type="submit"] {
      width: 100%;
    }
}