.faq-container {
    cursor: default;
}

.faq-item {
    padding: 20px;
    border-radius: 10px;
    background: var(--overlay);
    box-shadow: 0 0 3px #000;
    margin: 10px;
}

.faq-item h2 {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: var(--font-style);
    color: var(--color);
}

.faq-item p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--default-font-color);
    text-align: justify;
}

.faq-item a {
    color: inherit;
    text-decoration: none;
}

.faq-item a:hover {
    text-decoration: underline;
}

/* Unordered List */
.faq-container ul {
    padding-right: 40px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.faq-container ul a {
    text-decoration: underline;
    color: var(--color);
}

/* Hide Scrollbar for WebKit Browsers */
.faq-container ul::-webkit-scrollbar {
    display: none;
}

.background {
    display: flex;
    justify-content: center;
    position: absolute;
    background-image: url("../assets/images/bg/landscape-mode.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    padding-top: 90px;
}

/* Responsive Styling */
@media screen and (max-width: 500px) {
    .background {
        background-image: url("../assets/images/bg/portrait-mode.webp");
    }
}