.home-container {
  min-height: 100vh;
}

/* Slideshow Container */
.slideshow_container {
    position: relative;
    margin: 0 auto;
}

.mySlides {
    display: none;
}

.mySlides.active-slide {
    display: block;
}

.mySlides img,
.mySlides video {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    background: var(--content-bg);
}

/* Navigation Buttons */
.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    padding: 16px;
    color: var(--default-font-color);
    font-weight: bold;
    font-size: 1.5rem;
    user-select: none;
    transition: background-color 0.5s ease-in-out;
    opacity: 0.5;
}

.next {
    right: 0;
    border-radius: 20px 0 0 20px;
}

.prev {
    left: 0;
    border-radius: 0 20px 20px 0;
}

.next:hover,
.prev:hover {
    opacity: 1;
    color: var(--color);
}

/* Captions */
.caption {
    position: absolute;
    width: 100%;
    color: var(--default-font-color);
    background-color: var(--overlay);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    font-size: 1.2rem;
    font-family: var(--font-style);
    top: 0;
    text-align: center;
    align-content: center;
    height: 99.5%;
    cursor: default;
}

.caption h1 {
    color: var(--default-font-color);
    text-shadow: 0 0 5px #000;
    letter-spacing: 5px;
    font-size: 4.0rem;
}

.caption p {
    text-shadow: 0 0 3px #000;
}

.caption h1, p {
  margin: auto 20px;
  padding: 13px 0;
}

.caption-btn {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 25%;
    z-index: 1;
}

.caption-btn a {
    padding: 10px;
    margin: 5px;
    min-width: 15%;
    border-radius: 50px;
    border: solid thin;
    box-shadow: 0 0 5px #000;
    font-size: 1rem;
    font-family: var(--font-style);
    transition: background-color 0.5s ease-in-out;
}

.caption-btn a:hover {
    background: var(--hover-light);
    color: #000000;
    box-shadow: 0 0 10px var(--color);
}

/* Dots */
.home_slider_dot {
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.dot {
    position: relative;
    bottom: 30px;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 1px;
    border-radius: 50px;
    border: solid thin var(--color);
    display: inline-block;
    transition: background-color 0.6s ease-in-out;
}

.dot.active-dot,
.dot:hover {
    background: var(--color);
    opacity: 1;
}

/* Fade Animation */
.fade {
    animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* Video Container */
.video_container {
    display: grid;
    text-align: center;
    box-shadow: 0 0 3px #000;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.video_container h1 {
    cursor: default;
    font-family: var(--font-style);
    color: var(--color);
    font-size: 1.5rem;
}

/* Carousel */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel_inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.video {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 10px;
}

.video video {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: solid thin;
    color: inherit;
    background: var(--content-bg);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.video video:hover {
    box-shadow: 0 0 10px #000;
}

/* Carousel Navigation */
.carousel_nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.carousel_nav button {
    background: var(--color);
    border: none;
    color: inherit;
    padding: 15px;
    font-size: 1.0rem;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    box-shadow: 0 0 3px #000;
    transform: translateY(-50%);
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

.carousel-prev,
.carousel-next {
  transition: background-color 0.3s ease-in-out;
}

.carousel-prev:hover,
.carousel-next:hover {
  background: var(--hover-light);
}

/* Media Queries */
@media (max-width: 768px) {
  .video {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 500px) {
  .next,
  .prev {
    padding: 20px 10px;
    margin-top: -32px;
  }

  .mySlides img,
  .mySlides video {
    height: 100vh;
    object-fit: cover;
  }

  .caption {
    font-size: 0.7rem;
  }
  .caption h1 {
    font-size: 1.9rem;
  }

  .caption-btn {
    flex-direction: column;
    padding: 0 30px;
  }
  .caption-btn a {
    font-size: unset;
    width: unset;
  }
}

@media (max-width: 480px) {
  .video {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
