#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-overlay);
    display: none;
    z-index: 1;
}
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/bg/landscape-mode.jpg');
    background-position: center;
    background-size: cover;
    color: var(--default-font-color);
    padding: 30px;
    border-radius: 6px;
    border: solid thin var(--color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: var(--font-style);
    display: none;
    z-index: 1;
}
#popup h2 {
    font-size: 2.0rem;
    font-weight: 500;
    color: var(--color);
    margin: 30px 0 25px;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: thin;
    cursor: default;
}
#popup p {
    color: var(--default-font-color);
    cursor: default;
}
button {
    padding: 10px 20px;
    background-color: var(--color);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: var(--font-style);
    cursor: pointer;
}
button:hover {
    background-color: var(--hover-light);
    color: #000000;
}
@media(max-width: 500px) {
    #popup {
        width: 300px;
    }
    #popup p {
        font-size: x-small;
    }
    #popup h2 {
        font-size: x-large;
    }
    #popup button {
        font-size: 10px;
    }
}
.slideshow_container {
    position: relative;
    margin: 0 auto 0 0;
}
.mySlides {
    display: none;
}
.mySlides img,
video {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    object-fit: cover;
    background-image: var(--content-bg);
    border: solid thin var(--color);
    object-position: center;
    /*pointer-events: none;*/
}
.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -62px;
    padding: 50px 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 0;
}
.next {
    right: 0;
    border-radius: 20px 0 0 20px;
    background-image: var(--color);
    transition: all 0.5s ease-in-out;
}
.prev {
    left: 0;
    border-radius: 0 20px 20px 0;
    background-image: var(--color);
    transition: all 0.5s ease-in-out;
}
.next:hover,
.prev:hover {
    background-color: #154360a9;
    opacity: 1;
}
@media screen and (max-width: 500px) {
    .next,
    .prev {
        font-size: 20px;
        padding: 20px 10px;
        margin-top: -32px;
    }
    .mySlides img,
    video {
        height: 60vh;
        max-height: none;
        object-fit: contain;
    }
}
.caption {
    width: 100%;
    color: #f2f2f2;
    background-image: var(--theme);
    font-size: 1.6rem;
    font-family: var(--font-style);
    position: absolute;
    top: 0;
    text-align: center;
    cursor: default;
    height: 99.3%;
    align-content: center;
}
.caption h2 {
    margin: 0 auto;
    color: var(--color);
    text-shadow: 0 0 10px var(--color);
}
.caption p {
    text-shadow: 0 0 5px var(--default-font-color);
}
.caption-btn {
    position: absolute;
    align-content: center;
    width: 100%;
    text-align: center;
    bottom: 35%;
}
.caption-btn a {
    padding: 10px 20px;
    margin: 2px;
    background: var(--color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: var(--font-style);
    transition: 0.5s ease-in-out;
}
.caption-btn a:hover {
    background-color: var(--hover-light);
    color: rgb(9, 82, 31);
    box-shadow: 0 0 10px var(--color);
}
@media screen and (max-width:500px) {
    .caption {
        font-size: 0.7rem;
    }
    .caption-btn a {
        font-size: 0.4rem;
    }
}
.home_slider_dot {
    text-align: center;
    opacity: 0.1;
    transition: 0.5s ease-in-out;
}
.home_slider_dot:hover {
    opacity: 1;
}
.dot {
    position: relative;
    bottom: 40px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 1px;
    border-radius: 5px;
    border: solid thin var(--color);
    display: inline-block;
    transition: 0.6s var(--background-color) ease-in-out;
    box-shadow: 0 0 5px #0a0a0a;
}
.active-dot,
.dot:hover {
    background-color: var(--color);
    opacity: 1;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: 0.1;}
    to {opacity: 1;}
}
.video_container {
    display: grid;
    text-align: center;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
    border: solid thin var(--color);
    margin: 9px;
    border-radius: 9px;
}
.video_container h1 {
    cursor: default;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--font-style);
    color: var(--color);
    font-size: 1.0rem;
    border-radius: 9px 9px 0 0;
}
.video_content {
    display: flex;
    justify-content: space-between;
    overflow: auto;
}
.video,
iframe{
    margin: 5px;
    max-width: 350px;
    height: 250px;
    border-radius: 9px;
    border: solid thin rgb(0, 0, 0);
    background-color: var(--content-bg);
    transition: all 0.3s ease-in-out;
}
.video:hover,
iframe:hover {
    /*transform: scale(1.02);*/
    border: solid thin var(--color);
}
