/* Overlay and Popup */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-overlay);
    display: none;
    z-index: 1;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/bg/landscape-mode.jpg');
    background-position: center;
    background-size: cover;
    color: var(--default-font-color);
    padding: 30px;
    border-radius: 6px;
    border: solid thin var(--color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: var(--font-style);
    display: none;
    z-index: 1;
}

#popup h2 {
    font-size: 2.0rem;
    font-weight: 500;
    color: var(--color);
    margin: 30px 0 25px;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: thin;
    cursor: default;
}

#popup p {
    color: var(--default-font-color);
    cursor: default;
}

button {
    padding: 10px 20px;
    background-color: var(--color);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: var(--font-style);
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-light);
    color: #000000;
}

/* Slideshow Container */
.slideshow_container {
    position: relative;
    margin: 0 auto;
}

.mySlides {
    display: none;
}

.mySlides.active-slide {
    display: block;
}

.mySlides img,
.mySlides video {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    object-fit: cover;
    border: solid thin var(--color);
    object-position: center;
}

/* Navigation Buttons */
.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    user-select: none;
    opacity: 0.5;
    transition: background-color 0.5s ease-in-out;
}

.next {
    right: 0;
    border-radius: 20px 0 0 20px;
}

.prev {
    left: 0;
    border-radius: 0 20px 20px 0;
}

.next:hover,
.prev:hover {
    background-color: var(--color);
    opacity: 1;
}

/* Captions */
.caption {
    position: absolute;
    width: 100%;
    color: #f2f2f2;
    background-image: var(--theme);
    font-size: 1.6rem;
    font-family: var(--font-style);
    top: 0;
    text-align: center;
    align-content: center;
    height: 99.3%;
    cursor: default;
}

.caption h2 {
    color: var(--color);
    text-shadow: 0 0 10px var(--color);
    letter-spacing: 5px;
    font-size: 4.0rem;
    margin: 0;
}

.caption p {
    text-shadow: 0 0 5px #000000;
}

.caption-btn {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30%;
}

.caption-btn a {
    padding: 10px 20px;
    margin: 2px;
    background: var(--color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: var(--font-style);
    transition: background-color 0.5s ease-in-out;
}

.caption-btn a:hover {
    background-color: var(--hover-light);
    color: rgb(9, 82, 31);
    box-shadow: 0 0 10px var(--color);
}

/* Dots */
.home_slider_dot {
    text-align: center;
    opacity: 0.1;
    transition: opacity 0.5s ease-in-out;
}

.home_slider_dot:hover {
    opacity: 1;
}

.dot {
    position: relative;
    bottom: 40px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 1px;
    border-radius: 5px;
    border: solid thin var(--color);
    display: inline-block;
    transition: background-color 0.6s ease-in-out;
}

.dot.active-dot,
.dot:hover {
    background-color: var(--color);
    opacity: 1;
}

/* Fade Animation */
.fade {
    animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* Video Container */
.video_container {
    display: grid;
    text-align: center;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
    border: solid thin var(--color);
    margin: 9px;
    border-radius: 9px;
    padding: 15px;
}

.video_container h2 {
    cursor: default;
    font-family: var(--font-style);
    color: var(--color);
    font-size: 1.3rem;
    border-radius: 9px 9px 0 0;
}

/* Carousel */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel_inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.video {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    box-sizing: border-box;
    padding: 10px;
}

.video video {
    width: 100%;
    height: auto;
    border-radius: 9px;
    border: solid thin rgb(0, 0, 0);
    background-color: var(--content-bg);
    transition: all 0.3s ease-in-out;
}

.video video:hover {
    border: solid thin var(--color);
}

/* Carousel Navigation */
.carousel_nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel_nav button {
    background-color: var(--color);
    border: none;
    color: white;
    padding: 15px;
    font-size: 1.0rem;
    border-radius: 50px;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
  .video {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 500px) {
  #popup {
    width: 300px;
  }

  #popup p {
    font-size: x-small;
  }

  #popup h2 {
    font-size: x-large;
  }

  #popup button {
    font-size: 10px;
  }

  .next,
  .prev {
    font-size: 20px;
    padding: 20px 10px;
    margin-top: -32px;
  }

  .mySlides img,
  .mySlides video {
    height: 100vh;
    object-fit: cover;
  }

  .caption {
    font-size: 0.7rem;
  }
  .caption h2 {
    font-size: 1.0rem;
  }

  .caption-btn a {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  .video {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
