.slideshow_container {
    position: relative;
    margin: 50px auto 0 0;
}
.mySlides {
    display: none;
}
.mySlides img,
video {
    width: 100%;
    max-height: 95vh;
    height: 95vh;
    object-fit: cover;
    background-image: var(--content-bg);
    border: solid thin var(--color);
    object-position: center;
    /*pointer-events: none;*/
}
.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -62px;
    padding: 50px 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 0;
}
.next {
    right: 0;
    border-radius: 20px 0 0 20px;
    background-image: var(--color);
    transition: all 0.5s ease-in-out;
}
.prev {
    left: 0;
    border-radius: 0 20px 20px 0;
    background-image: var(--color);
    transition: all 0.5s ease-in-out;
}
.next:hover,
.prev:hover {
    background-color: #154360a9;
    opacity: 1;
}
@media screen and (max-width: 500px) {
    .next,
    .prev {
        font-size: 20px;
        padding: 20px 10px;
        margin-top: -32px;
    }
    .mySlides img,
    video {
        height: 60vh;
        max-height: none;
        object-fit: contain;
        border-radius: 0 0 20px 20px;
    }
}
.caption {
    width: 100%;
    color: #f2f2f2;
    background-image: var(--theme);
    font-size: 10px;
    font-family: var(--font-style);
    position: absolute;
    top: 0;
    text-align: center;
    cursor: default;
    border-radius: 0px 15px 0px 0px;
}
@media screen and (max-width:500px) {
    .caption {
        font-size: 7px;
    }
}
.home_slider_dot {
    text-align: center;
}
.dot {
    position: relative;
    bottom: 40px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 1px;
    border-radius: 5px;
    border: solid thin var(--color);
    display: inline-block;
    transition: all 0.6s var(--background-color) ease-in-out;
    opacity: 0.7;
    box-shadow: 0 0 5px #0a0a0a;
}
.active-dot,
.dot:hover {
    background-color: var(--color);
    opacity: 1;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: 0.1;}
    to {opacity: 1;}
}
.video_container {
    text-align: center;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
    border: solid thin var(--color);
    margin: 9px;
    border-radius: 9px;
}
.video_container h1 {
    cursor: default;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--font-style);
    letter-spacing: 1px;
    color: var(--color);
    font-size: 0.8rem;
    border-radius: 9px 9px 0 0;
}
.video_content {
    display: block ruby;
    overflow: auto;
}
.video,
iframe{
    margin: 5px;
    max-width: 317px;
    height: 250px;
    border-radius: 9px;
    border: solid thin rgb(0, 0, 0);
    background-color: var(--content-bg);
    transition: all 0.3s ease-in-out;
}
.video:hover,
iframe:hover {
    /*transform: scale(1.02);*/
    border: solid thin var(--color);
}
.footer {
    position: relative;
    padding: 8px 0;
    background-color: var(--background-color);
    background-image: var(--theme);
    font-family: var(--font-style);
    font-size: 0.6rem;
    border-top: solid thin var(--color);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -8px 9px 0 rgba(0, 0, 0, 0.5);
}
.copyright p {
    text-align: center;
    color: var(--color);
    cursor: default;
}
.footer-container {
    display: flex;
    justify-content: center;
}
.detail {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    font-size: 0.5rem;
    transition: 0.5s ease-in-out;
}
.detail:hover {
    color: var(--color);
    text-decoration: underline;
}
