/* Disable Scrolling */
body.lb-disable-scrolling {
    overflow: hidden;
}

/* Lightbox Overlay */
.lightboxOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--overlay);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 1;
    display: none;
}

/* Lightbox */
.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
}

/* Lightbox Image */
.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 5px;
    pointer-events: none;
    border: 5px solid #ffffff;
}

/* Remove Border from Linked Images */
.lightbox a img {
    border: none;
}

/* Outer Container */
.lb-outerContainer {
    position: relative;
    zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px;
    color: var(--color);
    background: var(--content-bg);
    box-shadow: 0 0 5px #000;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

/* Loader */
.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url("../assets/images/gif/loading.gif") no-repeat;
}

/* Navigation */
.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-next,
.lb-prev {
    height: 100%;
    cursor: pointer;
    display: block;
}

/* Previous Button */
.lb-nav a.lb-prev {
    width: 50%;
    left: 0;
    float: left;
    background: url("../assets/images/imgbtn/prev.png") left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/* Next Button */
.lb-nav a.lb-next {
    width: 50%;
    right: 0;
    float: right;
    background: url("../assets/images/imgbtn/next.png") right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/* Data Container */
.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

/* Data */
.lb-data {
    padding: 0 4px;
    color: #ccc;
}

/* Details */
.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
    font-family: var(--font-style);
}

/* Caption */
.lb-data .lb-caption {
    font-size: 1rem;
    line-height: 1em;
    color: var(--color);
    cursor: default;
}

.lb-data .lb-caption a {
    color: var(--color);
}

/* Number */
.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 0.9rem;
    color: #e0e0e0;
    cursor: default;
}

/* Close Button */
.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url("../assets/images/imgbtn/close.png") top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
