/* Loader Container */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: inherit;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    align-items: center;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 100;
}

.bg-loader {
    background: var(--theme);
}

/* Loader Title */
.loader h1 {
    font-family: var(--font-style);
    font-size: small;
    color: var(--default-font-color);
    position: absolute;
    bottom: 35%;
    transition: inherit;
    cursor: default;
    letter-spacing: 3px;
    animation: flicker 1s infinite;
}

/* Loader Hidden */
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

/* Spinner Styles */
.spinner {
    border-radius: 50%;
    position: absolute;
    animation-timing-function: ease;
}

/* Small Spinner */
.small-spinner {
    width: 50px;
    height: 50px;
    border: 15px double var(--color);
    border-top-color: rgba(30, 143, 255, 0);
    border-bottom-color: rgba(30, 143, 255, 0);
    animation: rotateCounterclockwise 0.75s infinite;
}

/* Medium Spinner */
.medium-spinner {
    width: 75px;
    height: 75px;
    border: thin solid #ffffff;
    /*box-shadow: 0 1px 5000px 30px var(--color);*/
    animation: pulse 0.75s infinite;
}

/* Large Spinner */
.large-spinner {
    width: 85px;
    height: 85px;
    border: thick solid var(--color);
    border-top-color: #ffffff;
    animation: rotateClockwise 0.75s infinite;
}

/* Keyframe Animations */
@keyframes pulse {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes rotateCounterclockwise {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(-1turn);
    }
}

@keyframes rotateClockwise {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes flicker {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* Media Query */
@media screen and (max-width: 500px) {
    .loader h1 {
        display: none;
    }
}

@media screen and (max-height: 470px) {
    .loader h1 {
        opacity: 0;
        visibility: hidden;
    }
}
