/* Maintenance Body */
.maintenance_body {
    width: 100%;
    height: 100%;
    position: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    font-family: var(--font-style);
    padding: 0 30px 30px;
    color: var(--color);
    border-style: solid;
    border-width: 0 0 thick 0;
    z-index: 1;
    background-image: url("../images/bg/landscape-mode.jpg");
    box-sizing: border-box;
}

/* Background Overlay */
.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--theme);
}

/* Maintenance Header */
.maintenance_body h1 {
    font-size: 3.0rem;
    font-weight: 500;
    color: var(--color);
    margin: 20px 0 25px;
    border-style: solid;
    border-width: 0 0 thin 0;
    text-align: center;
    cursor: default;
}

/* Maintenance Paragraph */
.maintenance_body p {
    color: var(--default-font-color);
    font-size: 1.5rem;
    text-align: center;
    cursor: default;
}

/* Maintenance Button Container */
.maintenance_button {
    width: 100%;
    padding: 30px;
    background: var(--theme-overlay);
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 1px 0 0 0;
    color: var(--color);
}

/* Maintenance Link */
.maintenance_body a {
    padding: 10px 50px;
    background-color: var(--color);
    color: var(--default-font-color);
    border: solid thin;
    font-family: var(--font-style);
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 0.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.5s ease-in-out;
}

/* Maintenance Link Hover */
.maintenance_body a:hover {
    background-color: var(--hover-light);
}

/* Media Queries */
@media screen and (max-width: 500px) {
    .maintenance_body h1 {
        font-size: 2.0rem;
    }

    .maintenance_body p {
        font-size: 0.9rem;
    }

    .maintenance_body {
        background-image: url("../images/bg/portrait-mode.jpg");
    }

    .maintenance_button {
        height: 100%;
        z-index: -1;
    }
}
