* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #222222;
    background-image: linear-gradient(to right, rgba(14, 11, 11, 0.753), rgba(14, 98, 194, 0.103));
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myFont;
    src: url("../fonts/hermes-font/hermes-font.otf");
}

@font-face {
    font-family: myFont;
    src: url("../fonts/ethnocentric/ethnocentric\ rg\ it.otf");
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(49, 49, 49);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(11, 91, 138);
    border-radius: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 128, 187);
}

.maintenance_body {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    font-family: myFont, sans-serif;
    padding: 0 30px 30px;
    color: #008cff;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: thick;
    z-index: 1;
    background-image: url("../images/bg/landscape-mode.png");
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(to right, rgba(14, 11, 11, 0.753), rgba(14, 98, 194, 0.103));
}

.maintenance_body h1 {
    font-size: 2.0rem;
    font-weight: 500;
    color: #008cff;
    margin: 20px 0 25px;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: thin;
    cursor: default;
    text-align: center;
}

.maintenance_body p {
    color: #ffffff;
    cursor: default;
    font-size: 1.10rem;
    text-align: center;
}

.maintenace_button {
    width: 100%;
    padding: 30px;
    background-image: linear-gradient(to right, rgba(14, 11, 11, 0.753), rgba(14, 98, 194, 0.103));
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 1px 0 0 0;
    color: #008cff;
}

.maintenance_body a {
    margin-top: 30px;
    padding: 10px 20px;
    background: -webkit-linear-gradient(#282831, #1c1c22);
    color: #fff;
    border-left-width: thick;
    border-right-width: thick;
    border-style: solid;
    border-color: #333;
    font-family: inherit;
    border-radius: 9px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    transition: all 0.4s ease-in-out;
}

.maintenance_body a:hover {
    border-color: #117cc4;
    color: #1368a1;
    background: -webkit-linear-gradient(#282831, #1c1c22);
}

@media screen and (max-width: 500px) {
    .maintenance_body h1 {
        font-size: 1.1rem;
    }
    .maintenance_body p {
        font-size: 0.7rem;
    }
    .maintenance_body {
        background-image: url("../images/bg/portrait-mode.png");
    }
    .maintenace_button{
        height: 100%;
        z-index: -1;
    }
}
