/* Universal Styles */
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Font Face */
@font-face {
    font-family: myFont;
    src: url("../assets/fonts/squarefont/Square.ttf");
}

/* Root Variables */
:root {
    --theme: linear-gradient(to right, rgb(15, 17, 22), rgb(28, 31, 39), rgb(45, 50, 61));
    --theme-2: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(245, 247, 250, 1), rgba(255, 255, 255, 1));
    --theme-overlay: linear-gradient(to right, rgb(26, 27, 32, 0.600), rgb(40, 41, 51, 0.600));
    --background-color: rgba(30, 143, 255);
    --color: dodgerblue;
    --default-font-color: #ffffff;
    --overlay: rgba(10, 18, 24, 0.5);
    --transparent-overlay: rgba(11, 31, 49, 0.950);
    --scrollbar-track-color: #0000;
    --hover-light: dodgerblue;
    --font-style: myFont, sans-serif;
    --brand-color: -webkit-linear-gradient(left, dodgerblue, rgb(0, 238, 255));
    --content-bg: rgb(22, 33, 46, 0.9);
}

/* Default Theme */
body.default-theme {
    background-image: var(--theme);
    color: var(--default-font-color);
}

/* Custom Theme */
body.custom-theme {
    background-image: var(--theme-2);
    color: #0e0e0e;
}

/* Body */
body {
    margin: 0;
    padding: 0;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--color);
    border-radius: 9px;
}