@font-face {
    font-family: myFont;
    src: url("../fonts/hermes-font/hermes-font.otf");
}

@font-face {
    font-family: myFont2;
    src: url("../fonts/ethnocentric/ethnocentric\ rg\ it.otf");
}

header {
    position: fixed;
    width: 100%;
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgba(11, 11, 14, 0.753), rgba(0, 119, 255, 0.103));
    top: 0;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #343434;
    z-index: 100000;
}

.nav-menu li {
    list-style: none;
}

.nav-menu {
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 9px;
    font-family: myFont2, sans-serif;
}

.navbar {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 56px;
}

/* default nav display on landscape mode */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    gap: 4px;
}

.nav-brand {
    font-size: 1.1rem;
    font-family: myFont, sans-serif;
    font-size: xx-large;
    margin-top: -6px;
    opacity: 0.9;
}

.my-avatar {
    position: absolute;
    top: 4px;
    left: 9px;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-link,
.nav-link-dropdown {
    padding: 15px 25px 12px;
}

.active-nav a {
    border-radius: 5px;
    box-shadow: 0 0 2px #33ffff;
}

.nav-link-dropdown:hover,
.nav-link:hover {
    transition: 0.4s ease;
    color: #3498DB;
    border-radius: 5px;
    box-shadow: 0 0 4px #33ffff;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media screen and (max-width: 978px) {
    .hamburger {
        display: block;
        margin: 0 12px 0 0;
    }
    .hamburger.active-hamburger .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active-hamburger .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active-hamburger .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 35px;
        gap: 0;
        flex-direction: column;
        background-color: #1a1a1a;
        background-image: linear-gradient(to top, rgba(14, 11, 11, 0.753), rgba(14, 98, 194, 0.103));
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;
        transition: 0.3s;
        z-index: 1;
    }
    .nav-item {
        margin: 20px 0;
    }
    .nav-item a {
        font-size: small;
        font-weight: 800;
    }
    .nav-item a:hover {
        color: #3498DB;
        transition: 0.7s;
    }
    .nav-menu.active-nav {
        right: 0;
    }
    .navbar input[type=search] {
        width: 100%;
    }
    .active-nav a {
        border-radius: 0;
        box-shadow: none;
    }
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    border-radius: unset;
    box-shadow: none;
    position: fixed;
    left: -100%;
    top: 51px;
    min-width: 200px;
    height: 100%;
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgba(11, 11, 14, 0.753), rgba(14, 98, 194, 0.103));
    transition: all 0.3s ease 0s;
    z-index: 5;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 19px 20px;
    text-decoration: none;
    text-align: left;
    font-family: myFont2, sans-serif;
    font-size: 10px;
    font-weight: 500;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #1e1e1e;
}

.show {
    left: 0;
}

.dropdown-content a:hover {
    background-color: #ddd;
    background-image: linear-gradient(to right, rgba(0, 102, 255, 0.5), rgba(255, 255, 255, 0));
    color: #000000;
    transition: 0.7s;
}

@media screen and (max-width: 650px) {
    .dropdown-content {
        width: 90%;
    }
}

.three-dots {
    position: absolute;
    display: flex;
    align-items: center;
    left: 7px;
    border-style: solid;
    border-width: thin;
    border-color: #fff;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.dot-btn {
    position: relative;
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.three-dots:hover {
    background-color: #0b5b91;
    transition: 0.5s ease;
}

.dots-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgba(11, 11, 14, 0.753), rgba(14, 98, 194, 0.103));
    min-width: 100px;
    height: 100vh;
    text-align: left;
    justify-content: left;
    transition: 0.3s;
    z-index: 1;
}

.dots-menu h3 {
    color: dodgerblue;
    background-color: rgba(255, 255, 255, 0.15);
    font-family: myFont2, sans-serif;
    text-align: center;
    font-size: small;
    cursor: default;
    border-bottom: dodgerblue;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    padding: 5px;
}

.dot-item {
    display: flex;
}
.dot-item a {
    font-size: x-small;
    width: 100%;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #1e1e1e;
}

.dot-link {
    padding: 15px;
}
.dot-item a:hover {
    color: #000000;
    background-image: linear-gradient(to right, rgb(126, 178, 255), rgba(255, 255, 255, 0));
    transition: 0.7s ease;
}
.dots-menu.active-dot {
    left: 0;
}

@media screen and (max-width: 500px) {
    .dots-menu {
        width: 100%;
    }
}

.navbar input[type=search] {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 0px 50px 0px 30px;
    position: relative;
    margin: 0 10px;
    background-color: #ffffff;
    color: black;
    font-family: 'myFont2';
    font-size: x-small;
}

/* Adds a background color and changes the size of the top navigation */
.mininav {
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgba(11, 11, 14, 0.753), rgba(0, 119, 255, 0.103));
    text-align: center;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 99;
    overflow: visible;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #343434;
    gap: 3px;
}

.mininav a {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: #2a2a2a;
    border-radius: 2px 2px 2px 2px;
    color: grey;
    padding: 5px 20px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 11px;
    opacity: 0.5;
}

.mininav a:hover {
    transition: 0.7 ease;
    background-color: #154360;
    color: white;
    opacity: 1;
    transition: 0.5s;
}

.category {
    position: relative;
    font-family: myFont2, sans-serif;
    color: #fff;
    font-size: x-small;
    cursor: default;
    margin-right: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(49, 49, 49);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(11, 91, 138);
    border-radius: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 128, 187);
}
