/* Header */
header {
    position: fixed;
    width: 100%;
    background-image: inherit;
    top: 0;
    border: solid var(--color);
    border-width: 0 0 1px 0;
    z-index: 100000;
}

/* Navigation Menu */
.nav-menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

/* Toggle Switch Styles */
.theme-toggle {
    margin: 0 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--overlay);
    transition: .4s;
    border-radius: 34px;
    border: solid thin var(--color);
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background: #ffffff;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background: var(--color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.nav-menu li {
    list-style: none;
}

/* Links */
a {
    color: var(--default-font-color);
    text-decoration: none;
}

/* Navbar */
.navbar {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 56px;
}

.nav-brand {
    font-family: var(--font-style);
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color);
    background: var(--brand-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px var(--color);
}

/* Avatar */
.my-avatar {
    position: absolute;
    top: 4px;
    left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid thin var(--color);
}
/*
.my-avatar {
  animation: 3s linear infinite rotate-con;
}

@keyframes rotate-con {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}
*/
/* Nav Links */
.nav-link,
.nav-link-dropdown {
    border: none;
    background: none;
    color: var(--default-font-color);
    font-family: var(--font-style);
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    padding: 15px 25px 12px;
    margin: 0 2px;
}

.nav-link-dropdown:hover,
.nav-link:hover {
    color: var(--color);
    box-shadow: 0 0 1px var(--color);
    border-radius: 9px;
}

.active-nav a {
    box-shadow: 0 0 1px var(--color);
    background: var(--active);
    color: var(--color);
    border-radius: 9px;
    text-shadow: 0 0 5px var(--color);
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: var(--color);
    transition: 0.3s ease-in-out;
}

/* Search Form */
form.search {
    margin: 0 3px;
}

form.search input[type=search] {
    font-family: var(--font-style);
    border: 1px solid var(--color);
    color: var(--color);
    border-radius: 0 20px 20px 0;
    width: 80%;
    background: var(--overlay);
    outline: none;
}

form.search button {
    float: left;
    width: 20%;
    background: var(--color);
    color: #ffffff;
    border: 1px solid var(--color);
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    outline: none;
}

form.search input[type=search], form.search button {
    margin: 0;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

form.search input[type=search]:hover {
    background: #0a0f16;
    border-color: var(--hover-light);
}

form.search button:hover {
    background: var(--hover-light);
    border-color: var(--hover-light);
}

/* Clear floats */
form.search::after {
    content: "";
    clear: both;
    display: table;
}

/* Search Result */
.search-result {
    width: 50%;
    position: absolute;
    top: 50px;
    background: var(--content-bg);
    border-radius: 0 0 10px 10px;
    border: solid thin var(--color);
}

.search-result ul {
    max-height: 250px;
    padding-left: 0;
    overflow: auto;
}

.search-result ul li {
    list-style: none;
    font-family: var(--font-style);
    font-size: small;
    color: #ffffff;
}

.search-result a {
    width: 100%;
    display: block;
    padding: 15px 10px;
    transition: 0.5s ease-in-out;
}

.search-result a:hover {
    background: var(--hover-light);
    color: #000000;
}

.search-result p {
    padding: 15px 10px;
    font-family: var(--font-style);
    font-size: small;
    color: #ffffff;
    border-radius: 0 0 10px 10px;
    text-align: center;
    cursor: default;
}

/* Up Container Image */
#upBtn {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 20px;
    z-index: 1;
    border: none; 
    outline: none; 
    background: var(--color); 
    color: #ffffff;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#upBtn:hover {
    background: var(--hover-light);
}

/* Media Queries */
@media screen and (max-width: 978px) {
    .hamburger {
        display: block;
        margin: 0 3px 0 0;
        border: solid thin var(--color);
        border-radius: 9px;
        padding: 5px;
    }

    .hamburger.active-hamburger .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active-hamburger .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active-hamburger .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        padding: 0;
        right: -100%;
        top: 51px;
        gap: 0;
        flex-direction: column;
        background: var(--content-bg);
        width: 100%;
        height: 100vh;
        justify-content: center;
        transition: 0.3s ease-in-out;
        z-index: 1;
    }

    .nav-item {
        margin: 20px 0;
    }

    .nav-item a,
    .nav-link-dropdown {
        font-size: 1.5rem;
        background: none;
        box-shadow: none;
        text-shadow: none;
    }

    .nav-item a:hover {
        color: var(--color);
    }

    .nav-menu.active-nav {
        right: 0;
    }

    .active-nav a,
    .active-dropdown a {
        color: var(--default-font-color);
        border-radius: 0;
    }
}

/* Dropdown Content */
.dropdown-content {
    display: flex;
    flex-direction: column;
    border-radius: unset;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: var(--color);
    position: fixed;
    left: -100%;
    top: 50px;
    padding-bottom: 50px;
    min-width: 200px;
    height: 100vh;
    background: var(--content-bg);
    transition: 0.5s ease 0s;
    overflow: auto;
    z-index: 5;
}

.dropdown-content h3 {
    color: #ffffff;
    background: var(--color);
    font-family: var(--font-style);
    text-align: center;
    font-size: 1.0rem;
    cursor: default;
    padding: 5px;
    margin: 0;
}

.dropdown-content a {
    color: var(--default-font-color);
    background: none;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    padding: 19px 20px;
    text-decoration: none;
    text-align: left;
    font-family: var(--font-style);
    font-size: 0.8rem;
    margin: 3px;
    border-radius: 9px;
    transition: 0.5s ease-in-out;
}

.dropdown-content a:hover {
    background: var(--hover-light);
    color: #000000;
}

.show {
    left: 0;
}

@media screen and (max-width: 650px) {
    .dropdown-content {
        width: 90%;
    }
}

/* Category Navigation */
.category-navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: inherit;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--color);
    top: 50px;
    z-index: 99;
}

.category-navigation h1 {
    text-align: center;
    letter-spacing: 3px;
    font-family: var(--font-style);
    font-size: 1.1rem;
    color: var(--color);
    display: flex;
    cursor: default;
}

/* Category Dots */
.category-dots {
    position: absolute;
    display: flex;
    align-items: center;
    left: 7px;
    border: solid thin var(--color);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.category-dot {
    position: relative;
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 1px;
    background: var(--color);
    border-radius: 50%;
    display: inline-block;
}

.category-dots:hover {
    background: var(--hover-dark);
    color: #000000;
}

/* Category Menu */
.category-menu {
    position: fixed;
    display: flex;
    left: -100%;
    top: 79.5px;
    padding-bottom: 100px;
    flex-direction: column;
    background: var(--content-bg);
    min-width: 150px;
    height: 100vh;
    justify-content: left;
    transition: 0.5s ease 0s;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: var(--color);
    overflow: auto;
    z-index: 1;
}

.category-menu h3 {
    color: #ffffff;
    background: var(--color);
    font-family: var(--font-style);
    text-align: center;
    font-size: 1.0rem;
    cursor: default;
    padding: 5px;
    margin: 0;
}

.category-item {
    display: flex;
}

.category-item a {
    font-size: 0.8rem;
    font-family: var(--font-style);
    width: 100%;
    margin: 3px;
    border-radius: 9px;
    transition: 0.5s ease-in-out;
}

.category-link {
    padding: 15px;
}

.category-item a:hover {
    color: #000000;
    background: var(--hover-light);
}

.category-menu.active-category {
    left: 0;
}

@media screen and (max-width: 500px) {
    .brand {
        display: none;
    }

    .category-menu {
        width: 50%;
    }
}

/* Footer */
.footer {
    position: relative;
    padding: 8px 0;
    background-image: inherit;
    font-family: var(--font-style);
    font-size: 0.6rem;
    border-top: solid thin var(--color);
}

.footer-container {
    text-align: center;
}

.copyright p {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color);
    cursor: default;
}

.detail {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    padding: 0 5px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.detail:hover {
    color: var(--color);
    text-decoration: underline;
}

.social {
    position: relative;
    margin: 10px 0 auto;
}

.social img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid thin var(--color);
    margin: auto 3px;
    object-fit: cover;
}
