/* Header */
header {
    position: fixed;
    width: 100%;
    background-image: inherit;
    box-shadow: 0 0 1px;
    color: inherit;
    top: 0;
    z-index: 100000;
}

li {
    list-style-image: url("../assets/images/bullet/n-bullet.png");
}

/* Navigation Menu */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.subMenu-container {
    display: flex;
    gap: 5px;
}

.settings-menu {
  position: relative;
}

.settings-btn {
  background: none;
  color: inherit;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: solid thin;
  transition: background-color 0.3s ease;
}

.dropdown-setting {
  display: none;
  position: absolute;
  background: inherit;
  min-width: 160px;
  background: var(--overlay-blue);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 3px #000;
  border-radius: 10px;
  right: 0;
  margin: 10px auto;
  border: solid thin;
  z-index: 1;
}

.dropdown-setting a {
  padding: 12px 16px;
  text-decoration: none;
  color: inherit;
  display: block;
  font-family: 'poppins', sans-serif;
  transition: background-color 0.2s ease;
}

.dropdown-setting a:hover {
  color: var(--color);
}

.settings-menu.show-settings .dropdown-setting {
  display: block;
}

/* Toggle Switch */
.theme-toggle {
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.theme-toggle p {
    font-family: 'poppins', sans-serif;
    color: inherit;
    cursor: default;
    margin: 10px;
    padding: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    border-radius: 34px;
    border: thin solid;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background: #ffffff;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .slider {
    border: thin solid;
}

input:checked + .slider:before {
    transform: translateX(26px);
    background: #1f1f1f;
}

/* Navigation Links */
.nav-menu li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--default-font-color);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
    min-height: 50px;
}

.nav-brand {
    font-family: var(--font-style);
    font-size: 1.7rem;
    font-weight: bold;
    color: inherit;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
}

/* Avatar */
.my-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    border: thin solid;
}

/* Nav Links */
.nav-link,
.nav-link-sideMenu {
    font-family: var(--font-style);
    font-size: 0.9rem;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    padding: 14px 25px 12px;
    margin: 0 2px;
    transition: 0.4s ease-in-out;
}

.nav-link:hover,
.nav-link-sideMenu:hover {
    color: var(--color);
    border-bottom: thin solid var(--color);
}

.activeLink a {
    color: var(--color);
    border-bottom: thick solid var(--color);
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: var(--color);
    transition: 0.3s ease-in-out;
}

/* Search Form */
form.search {
    margin: 0 5px;
    padding: 0;
}

form.search input[type="search"] {
    float: right;
    width: 80%;
    border-radius: 0 50px 50px 0;
    background: none;
    border: thin solid;
}

form.search button {
    float: left;
    width: 20%;
    border: 1px solid;
    border-right: none;
    border-radius: 50px 0 0 50px;
    background: var(--color);
    color: var(--default-font-color);
    cursor: pointer;
}

form.search input[type="search"],
form.search button {
    color: inherit;
    outline: none;
    margin: 0;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease-in-out;
}

form.search::after {
    content: "";
    display: table;
    clear: both;
}

/* Search Results */
.search-result {
    position: absolute;
    top: 55px;
    min-width: 50%;
    background: var(--overlay-blue);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 1px;
    color: inherit;
}

.search-result ul {
    max-height: 250px;
    overflow: auto;
    padding-left: 0;
}

.search-result ul li {
    list-style: none;
}

.search-result a {
    display: block;
    width: 100%;
    padding: 15px 10px;
    transition: 0.5s ease-in-out;
    color: inherit;
}

.search-result a:hover {
    background: var(--hover-light);
    color: #1f1f1f;
}

.search-result p {
    text-align: center;
    padding: 15px 10px;
    color: inherit;
    border-radius: 0 0 10px 10px;
    cursor: default;
}

.search-result,
.search-result p {
    font-family: var(--font-style);
    font-size: .9rem;
}

/* Scroll Button */
#upBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: var(--color);
    cursor: pointer;
    border: none;
    outline: none;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 3px #000;
    color: inherit;
    z-index: 1;
}

#upBtn:hover {
    color: #000;
}

@keyframes wiggleAnimation {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

/* Media Queries */
@media screen and (max-width: 978px) {
    .hamburger {
        display: block;
        padding: 5px;
        border: thin solid;
        border-radius: 10px;
        z-index: 1;
    }

    .hamburger.active-hamburger .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active-hamburger .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active-hamburger .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--content-bg);
        gap: 0;
        padding: 0;
        box-shadow: 0 0 1px #000;
        margin: 0;
        transition: 0.3s ease-in-out;
        z-index: 1;
    }

    .nav-item {
        margin: 20px 0;
    }

    .nav-item a,
    .nav-link-sideMenu {
        font-size: 1.5rem;
        background: none;
        box-shadow: none;
        text-shadow: none;
        border: none;
    }

    .nav-item a:hover {
        color: var(--color);
    }

    .nav-menu.active-nav {
        right: 0;
    }

    .active-nav a,
    .active-dropdown a {
        color: var(--default-font-color);
        border-radius: 0;
    }

    .sideMenu-content {
        width: 100%;
        padding: 0 !important;
        top: 0 !important;
    }
}

/* Dropdown Content */
.sideMenu-content {
    position: fixed;
    top: 50px;
    left: -101%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 100vh;
    background: var(--overlay-blue);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 1px 0 0;
    padding-bottom: 50px;
    overflow: auto;
    transition: 0.5s ease;
}

.sideMenu-content h1 {
    font-family: var(--font-style);
    font-size: 1rem;
    color: inherit;
    cursor: default;
    margin: 0;
    padding: 15px;
}

.sideMenu-content a {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: inherit;
    background: none;
    text-decoration: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
    border-radius: 0;
    padding: 15px 15px;
    transition: 0.5s ease-in-out;
}

.sideMenu-content a:hover {
    color: #1f1f1f;
    background: var(--hover-light);
}

.show-sideMenu {
    left: 0;
}

/* Category Navigation */
.category-navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-image: inherit;
    box-shadow: 0 0 1px;
    color: inherit;
    top: 50px;
    z-index: 99;
}

.category-navigation h1 {
    text-align: center;
    font-family: var(--font-style);
    font-size: 1.3rem;
    letter-spacing: 3px;
    color: var(--color);
    cursor: default;
    margin: 0 auto;
}

/* Category Dots */
.category-dots {
    position: absolute;
    left: 0;
    margin: auto 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    border: thin solid;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.category-dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 1px;
    background: var(--color);
    border-radius: 50%;
    cursor: pointer;
}

.currency-conversion-btn {
    position: absolute;
    right: 0;
    padding: 5px 20px;
    margin: auto 5px;
    font-family: var(--font-style);
    border: solid thin;
    border-radius: 5px;
    color: inherit;
    outline: none;
    background: var(--color);
    cursor: pointer;
}

/* Category Menu */
.category-menu {
    position: fixed;
    top: 84px;
    left: -101%;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    height: 100vh;
    background: var(--overlay-blue);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding-bottom: 100px;
    padding-left: 0;
    box-shadow: 1px 0 0;
    justify-content: left;
    overflow: auto;
    transition: 0.5s ease;
}

.category-menu h2 {
    font-family: var(--font-style);
    font-size: 1rem;
    color: inherit;
    cursor: default;
    margin: 0;
    padding: 15px;
}

.category-item {
    display: flex;
}

.category-item a {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: inherit;
    padding: 15px 15px;
    transition: 0.5s ease-in-out;
}

.category-item a:hover {
    background: var(--hover-light);
    color: #1f1f1f;
}

.category-menu.active-category {
    left: 0;
}

/* List Reset */
.category-container li,
.category-container ul {
    list-style: none;
    padding: 0;
}

@media (max-width: 600px) {
    .currency-conversion-btn {
        width: 90px;
    }
    .dropdown-setting {
        min-width: 120px;
    }

    .dropdown-setting a,
    .dropdown-setting p{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 500px) {
    .brand {
        display: none;
    }

    .category-menu h2 {
        text-align: left;
    }

    .category-menu {
        width: 100%;
    }
}

/* Footer */
.footer {
    position: relative;
    padding: 8px 0;
    background-image: inherit;
    font-family: var(--font-style);
    font-size: 0.7rem;
    box-shadow: 0 -1px 0;
    color: inherit;
    text-align: center;
}

.copyright p {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color);
    cursor: default;
}

.detail {
    margin-top: 5px;
    color: inherit;
    padding: 0 5px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.detail:hover {
    color: var(--color);
    text-decoration: underline;
}

.social {
    position: relative;
    margin: 10px 0 auto;
}

.social img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: thin solid var(--default-font-color);
    background: var(--color);
    margin: 0 3px;
    object-fit: cover;
}
