* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
.slideshow-container {
    position: relative;
    margin: 50px auto auto;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
.mySlides img,
video {
    width: 100%;
    max-height: 566px;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}
/* Next & previous buttons */
.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -62px;
    padding: 50px 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 0;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    background-image: linear-gradient(to right, rgba(0, 119, 255, 0.281), rgba(24, 24, 41, 0.753));
}
/* Position the "next button" to the left */
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(to right, rgba(24, 24, 41, 0.753), rgba(0, 119, 255, 0.281));
}
/* On hover, add a black background color with a little bit see-through */
.next:hover,
.prev:hover {
    background-color: #154360a9;
    opacity: 1;
}
/* On smaller screens, decrease text size */
@media screen and (max-width: 500px) {
    .next,
    .prev {
        font-size: 20px;
        padding: 20px 10px;
        margin-top: -32px;
    }
    .mySlides img,
    video {
        height: 100vh;
        max-height: none;
    }
}
.intro {
    color: #f2f2f2;
    background-image: linear-gradient(to right, rgba(11, 11, 14, 0.653), rgba(19, 77, 145, 0.5));
    font-size: 8px;
    font-family: myFont, sans-serif;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    text-align: left;
    cursor: default;
    border-radius: 0 0 10px 0;
}
.img-size image {
    width: 100%;
}
.btn-container {
    text-align: center;
}
.btn {
    position: relative;
    bottom: 50px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 5px 0 5px 0;
    display: inline-block;
    transition: background-color 0.6s ease;
    opacity: 0.2;
    box-shadow: 0 0 5px #0a0a0a;
}
.active-btn,
.btn:hover {
    background-color: #244d83;
    opacity: 0.5;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.video-container {
    text-align: center;
}
iframe {
    margin: 5px;
    max-width: 350px;
    height: 250px;
    border-radius: 5px;
}
.video-container h1 {
    cursor: default;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: myFont, sans-serif;
    letter-spacing: 1px;
    color: white;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
}
.skillcontainer {
    background-color: #121212;
}
.skillcontent p {
    padding: 7px;
    display: inline-block;
    background-color: #222222;
    cursor: default;
    width: 155px;
    margin: 3px;
}
.ocinfo {
    font-family: sans-serif;
    color: white;
    padding: 10px 16px;
    cursor: default;
    background-color: #121212;
    text-align: center;
    margin-top: 54px;
}
.ocinfo p {
    transform: skew(350deg);
}
.lorecontainer {
    background-color: #121212;
    padding: 6px 20px 15px;
    float: left;
    width: 50%;
}
.lorecontainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
.lorecontainer h1 {
    font-family: sans-serif;
    color: white;
    text-align: center;
    cursor: default;
}
.lore {
    background-color: #222222;
    border-radius: 10px;
    text-align: justify;
    font-family: sans-serif;
    color: white;
    padding: 25px;
    cursor: default;
}
.container {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
}
.skills {
    padding: 2px 0;
    color: white;
    border-radius: 10px;
    text-align: right;
}
.html {
    width: 100%;
    background-color: #04AA6D;
}
.css {
    width: 100%;
    background-color: #2196F3;
}
.js {
    width: 65%;
    background-color: #f44336;
}
.php {
    width: 60%;
    background-color: #808080;
}
.js {
    width: 65%;
    background-color: #f44336;
}
.php {
    width: 60%;
    background-color: #808080;
}
.attributes {
    background-color: #121212;
    float: right;
    width: 50%;
    padding: 10px;
}
.attributes h2 {
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.attributes p {
    font-family: sans-serif;
    color: white;
}
@media screen and (max-width: 650px) {
    .lorecontainer {
        width: 100%;
        display: block;
    }
}
