/* Overlay and Popup */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none;
}

#popup-message {
    position: fixed;
    min-width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: inherit;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    text-align: center;
    font-family: var(--font-style);
    display: none;
}

#overlay, #popup-message {
    z-index: 200000;
}

#popup-message img {
    position: absolute;
    min-width: 150px;
    height: 150px;
    border-radius: 50%;
    right: -55px;
    top: -55px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

#popup-message h1 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color);
    margin: 30px 0 25px;
    border-bottom: thin solid;
    cursor: default;
}

#popup-message p {
    color: inherit;
    cursor: default;
}

#popup-message button {
    padding: 10px 20px;
    background: var(--color);
    color: inherit;
    border: thin solid;
    border-radius: 50px;
    font-family: var(--font-style);
    cursor: pointer;
}

/* Popup Container */
.popup {
    width: 450px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    font-family: var(--font-style);
    padding: 0 30px 30px;
    background: var(--overlay);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    visibility: hidden;
    transition: transform 0.4s;
    box-shadow: 0 0 3px #000;
    border: solid thin;
}

/* Open Popup Animation */
.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

/* Popup Image */
.popup img {
    width: 130px;
    position: absolute;
    margin-top: -40px;
    left: 370px;
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
    pointer-events: none;
}

/* Popup Title */
.popup h1 {
    font-size: 2.0rem;
    font-weight: 500;
    color: var(--color);
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: thin;
    cursor: default;
}

/* Popup Text */
.popup p {
    color: var(--default-font-color);
    cursor: default;
    font-size: 14px;
}

/* Popup Action Link */
.popup a {
    padding: 5px;
    font-size: 0.7rem;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%);
}

/* Popup Button */
.popup button {
    width: 50%;
    padding: 10px 0;
    background: var(--color);
    color: var(--defaut-font-color);
    border: solid thin;
    outline: none;
    font-size: 15px;
    font-family: var(--font-style);
    border-radius: 50px;
    cursor: pointer;
    transition: none;
}

.popup-wn {
    width: 50%;
    max-width: 600px; /* Set a maximum width for larger screens */
    min-width: 300px; /* Set a minimum width for smaller screens */
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%) scale(0.1);
    font-family: var(--font-style);
    padding: 0 20px 30px;
    background: var(--overlay);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    visibility: hidden;
    transition: transform 0.4s;
    box-shadow: 0 0 3px #000;
    cursor: default;
    max-height: 80%; /* Set a max height for the popup */
    overflow-y: auto; /* Add vertical scrolling if content exceeds */
    border: solid thin;
}

.wn-btn {
    position: fixed;
    top: 60px;
    right: 10px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background: var(--color);
    color: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 3px #000;
    font-family: var(--font-style);
    border: solid thin;
    transition: background-color 0.3s ease;
    animation: wiggleAnimation 1s infinite; /* Wiggle animation applied */
    z-index: 50;
}

.popup-wn ul {
    text-align: justify;
    font-family: sans-serif;
    padding-right: 20px;
    max-height: 200px; /* You can adjust this height */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

.popup-wn li {
    margin: 10px auto;
}

/* Open Popup Animation */
.open-popup-wn {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

/* Popup Title */
.popup-wn h1 {
    font-weight: 500;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: thin;
    cursor: default;
}

.popup-wn h2 {
    font-size: 1.3rem;
    text-align: left;
}

.update h2 {
    text-align: right;
}

.popup-wn h1,
.popup-wn h2 {
    color: var(--color);
}

.donate-popup {
    max-width: 1000px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    font-family: var(--font-style);
    padding: 30px;
    background: var(--overlay);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    visibility: hidden;
    transition: transform 0.4s;
    box-shadow: 0 0 3px #000;
    overflow-y: auto; /* Enables scroll when content overflows */
    max-height: 80vh; /* Limits height to 80% of the viewport */
    border: solid thin;
}

.popup,
.popup-wn,
.donate-popup {
    z-index: 50;
}

.qr-content {
    display: flex;
    flex-wrap: wrap; /* Allows QR codes to wrap on smaller screens */
    justify-content: space-around;
    gap: 10px;
}

.qr {
    flex: 1 1 30%; /* Ensures that QR codes adapt to smaller screens */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 1/1;
}

/* Open Popup Animation */
.open-donate {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

/* Popup Title */
.donate-popup h1 {
    font-size: 2.0rem;
    font-weight: 500;
    color: var(--color);
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: thin;
    cursor: default;
}

/* Popup Text */
.donate-popup p {
    color: inherit;
    cursor: default;
    font-size: 14px;
}

/* Popup Button */
.donate-popup button {
    width: 50%;
    padding: 10px 0;
    background: var(--color);
    color: var(--default-font-color);
    border: solid thin;
    color: inherit;
    outline: none;
    font-size: 15px;
    font-family: var(--font-style);
    border-radius: 50px;
    cursor: pointer;
    transition: none;
}

.cookie-popup {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: inherit;
    border: thin solid;
    color: inherit;
    padding: 20px;
    box-shadow: 0 0 3px #000;
    text-align: center;
    z-index: 100;
    display: none; /* Initially hidden */
}

.cookie-popup p {
    margin: 0;
    padding: 0 0 10px 0;
    font-family: sans-serif;
    text-align: center;
}

.cookie-popup a {
    color: var(--color);
    transition: 0.5s ease-in-out;
}

.cookie-popup a:hover{
    text-decoration: underline;
}

.cookie-popup button {
    background: var(--color);
    color: inherit;
    border: solid thin;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 50px;
    font-family: var(--font-style);
}

@media (max-width: 768px) {
    .qr-content {
        flex-direction: column; /* Stack QR codes vertically */
    }

    .qr {
        width: 100%;
    }

    .donate-popup {
        width: 90%; /* Ensures popup scales down on smaller devices */
        max-width: 100%; /* Remove max width on smaller screens */
    }

    .popup-wn {
        width: 80%;
        padding: 0 15px 20px;
    }

    .popup-wn ol {
        max-height: 150px;
    }

    .popup-wn button {
        width: 70%;
    }
}

@media(max-width: 500px) {
    #popup-message img {
        position: unset;
    }

    #popup-message p {
        font-size: small;
    }

    #popup-message h2 {
        font-size: large;
    }
    
    .popup {
        width: 300px;
    }

    .popup p {
        font-size: x-small;
    }

    .popup h1 {
        font-size: x-large;
    }

    .popup img {
        position: unset;
    }

    .popup button {
        font-size: 10px;
    }

    .popup-wn {
        width: 90%;
        padding: 0 10px 15px;
    }

    .popup-wn ol {
        max-height: 120px;
    }

    .popup-wn button {
        width: 80%;
    }
}