/* Popup Container */
.popup {
    width: 450px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    font-family: var(--font-style);
    padding: 0 30px 30px;
    background: var(--theme);
    visibility: hidden;
    transition: transform 0.4s;
    box-shadow: 0 0 5px #000;
}

/* Open Popup Animation */
.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
}

/* Popup Image */
.popup img {
    width: 130px;
    position: absolute;
    margin-top: -40px;
    left: 370px;
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
    pointer-events: none;
}

/* Popup Title */
.popup h2 {
    font-size: 2.0rem;
    font-weight: 500;
    color: var(--color);
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: thin;
    cursor: default;
}

/* Popup Text */
.popup p {
    color: var(--default-font-color);
    cursor: default;
    font-size: 14px;
}

/* Popup Action Link */
.popup a {
    padding: 5px;
    font-size: 0.7rem;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%);
}

/* Popup Button */
.popup button {
    width: 50%;
    padding: 10px 0;
    background: var(--color);
    color: var(--defaut-font-color);
    border: solid thin;
    outline: none;
    font-size: 15px;
    font-family: var(--font-style);
    border-radius: 50px;
    cursor: pointer;
    transition: none;
}

.donate-popup {
    max-width: 1000px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    font-family: var(--font-style);
    padding: 30px;
    background: var(--theme);
    visibility: hidden;
    transition: transform 0.4s;
    box-shadow: 0 0 5px #000;
    overflow-y: auto; /* Enables scroll when content overflows */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    max-height: 80vh; /* Limits height to 80% of the viewport */
}

.donate-popup ::-webkit-scrollbar {
    display: none;
}

.qr-content {
    display: flex;
    flex-wrap: wrap; /* Allows QR codes to wrap on smaller screens */
    justify-content: space-around;
    gap: 10px;
}

.qr {
    flex: 1 1 30%; /* Ensures that QR codes adapt to smaller screens */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 1/1;
}

/* Open Popup Animation */
.open-donate {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
}

/* Popup Title */
.donate-popup h2 {
    font-size: 2.0rem;
    font-weight: 500;
    color: var(--color);
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: thin;
    cursor: default;
}

/* Popup Text */
.donate-popup p {
    color: var(--default-font-color);
    cursor: default;
    font-size: 14px;
}

/* Popup Button */
.donate-popup button {
    width: 50%;
    padding: 10px 0;
    background: var(--color);
    color: var(--default-font-color);
    border: solid thin;
    outline: none;
    font-size: 15px;
    font-family: var(--font-style);
    border-radius: 50px;
    cursor: pointer;
    transition: none;
}

@media (max-width: 768px) {
    @media(max-width: 500px) {
        .popup {
            width: 300px;
        }
        .popup p {
            font-size: x-small;
        }
        .popup h2 {
            font-size: x-large;
        }
        .popup img {
            position: unset;
        }
        .popup button {
            font-size: 10px;
        }
    }
    .qr-content {
        flex-direction: column; /* Stack QR codes vertically */
    }

    .qr {
        width: 100%;
    }

    .donate-popup {
        width: 90%; /* Ensures popup scales down on smaller devices */
        max-width: 100%; /* Remove max width on smaller screens */
    }
}