* {
    -webkit-tap-highlight-color: transparent;
}
.popup {
    width: 450px;
    background: var(--background-color);
    border-radius: 6px;
    border: solid thin var(--color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    font-family: var(--font-style);
    padding: 0 30px 30px;
    background-image: url("../images/bg/landscape-mode.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    visibility: hidden;
    transition: transform 0.4s;
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px 0;
}
.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
}
.popup img {
    width: 130px;
    position: absolute;
    margin-top: -40px;
    left: 370px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    pointer-events: none;
}
.popup h2 {
    font-size: 38px;
    font-weight: 500;
    color: var(--color);
    margin: 30px 0 25px;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: thin;
    cursor: default;
}
.popup p {
    color: var(--default-font-color);
    cursor: default;
    font-size: 14px;
}
.popup a {
    padding: 5px;
    font-size: 0.7rem;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%);
}
.popup button {
    width: 50%;
    margin-top: 30px;
    padding: 10px 0;
    background: #117cc4;
    background-image: var(--theme);
    color: var(--defaut-font-color);
    border-left-width: thick;
    border-right-width: thick;
    border-style: solid;
    border-color: #333;
    outline: none;
    font-size: 15px;
    font-family: var(--font-style);
    border-radius: 0 20px 0 20px;
    cursor: pointer;
    transition: none;
}
.popup button:hover {
    border-color: var(--color);
    color: var(--color);
    background: -webkit-linear-gradient(#282831, #1c1c22);
}
@media(max-width: 450px) {
    .popup {
        width: 300px;
    }
    .popup p {
        font-size: x-small;
    }
    .popup h2 {
        font-size: x-large;
    }
    .popup img {
        display: none;
    }
    .popup button {
        font-size: 10px;
    }
}
