/* Image Container */
.image-container {
    width: 100%;
    min-height: 100vh;
}

/* Gallery Grid */
.gallary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    margin-top: 96px;
}

/* Gallery Images */
.gallary img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
}

/* Reset List Styles */
.category-container,
li,
ul {
    list-style: none;
    padding-left: 0;
}

/* Up Container Image */
#upBtn {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 20px;
    z-index: 1;
    border: none; 
    outline: none; 
    background: var(--color); 
    color: #ffffff;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#upBtn:hover {
    background: var(--hover-light);
}

/* Hover Effect on Gallery Images */
.gallary img:hover {
    transform: scale(0.98);
    border: solid thin var(--color);
    border-radius: 10px;
}

.hidden {
    display: none !important;
}  

/* Responsive Styles */
@media screen and (max-width: 500px) {
    .gallary,
    .gallary img {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .gallary img:hover {
        transform: none;
        box-shadow: none;
        border: 0;
    }
    .up-container img {
        left: 0;
    }
}
