* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    background-image: linear-gradient(to right, rgba(14, 11, 11, 0.753), rgba(14, 98, 194, 0.103));
    overflow-x: hidden;
}

.image-container {
    width: 100%;
    min-height: 100vh;
}

.gallary {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-auto-rows: 300px 300px;
    grid-gap: 5px;
    margin-top: 100px;
}

.gallary img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    transition: transform 0.3s;
}

.dots-container,
li,
ul {
    list-style: none;
    padding-left: 0;
}

.title {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgba(11, 11, 14, 0.753), rgba(0, 119, 255, 0.103));
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: dodgerblue;
    top: 50px;
    z-index: 99;
}

.title h1 {
    text-align: center;
    font-family: myFont2, sans-serif;
    font-size: large;
    color: #ffff;
    display: flex;
    cursor: default;
}

.up-container a img {
    background-color: #1a1a1a;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 9px;
    z-index: 1;
}

.gallary img:hover {
    transform: scale(0.98);
}

@media (max-width: 500px) {
    .gallary,
    .gallary img {
        grid-auto-rows: auto auto;
        border-radius: 0;
    }
    .gallary img:hover {
        transform: none;
    }
    .up-container img {
        left: 0;
    }
}

.footer {
    position: relative;
    padding: 8px 0;
    margin-top: 5px;
    background-color: #1a1a1a;
    background-image: linear-gradient(to left, rgba(14, 98, 194, 0.103) , rgba(14, 11, 11, 0.753));
    font-family: myFont2, sans-serif;
    font-size: x-small;
    border-top: solid thin dodgerblue;
}

.copyright p {
    text-align: center;
    color: white;
    cursor: default;
}

.detail-container {
    display: flex;
    justify-content: center;
}

.detail {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    font-size: xx-small;
}

.detail:hover {
    color: rgb(33, 110, 197);
    transition: 0.5s ease;
    text-decoration: underline;
}
