/* Default Cursor for .pp-container */
.pp-container {
    cursor: default;
}

strong {
    color: var(--color);
}

.overlay {
    background: var(--overlay);
    border-radius: 10px;
    box-shadow: 0 0 3px #000;
}

.pp-container h1, h2 {
    color: var(--color);
    font-family: var(--font-style);
    padding: 12px;
}

.pp-container h1 {
    background: inherit;
    border-radius: 10px;
    box-shadow: 0 0 3px #000;
}

/* List Items */
.pp-container li, p {
    color: var(--default-font-color);
    font-family: 'Poppins', sans-serif;
    list-style-image: url("../assets/images/bullet/n-bullet.png");
    padding: 12px;
    text-align: justify;
}

/* Unordered List */
.pp-container ul {
    padding-right: 40px;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.pp-container ul a {
    color: var(--color);
}

.pp-container ul a:hover {
    text-decoration: underline;
}

/* Hide Scrollbar for WebKit Browsers */
.pp-container ul::-webkit-scrollbar {
    display: none;
}

.background {
    display: flex;
    justify-content: center;
    position: absolute;
    background-image: url("../assets/images/bg/landscape-mode.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    padding-top: 90px;
}

/* Responsive Styling */
@media screen and (max-width: 500px) {
    .background {
        background-image: url("../assets/images/bg/portrait-mode.webp");
    }
    .pp-container li {
        font-size: small;
    }
}