/* Default Cursor for .tos-container */
.tos-container {
    cursor: default;
}

.tos-overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    background-image: var(--theme-color);
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    padding-top: 90px;
}

.tos-container li {
    color: inherit;
    text-align: justify;
    list-style: none;
}

.tos-container ul {
    max-width: 1000px;
    padding: 0;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.tos-item {
    background: var(--theme-overlay);
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
}

.tos-container ul {
    color: var(--default-font-color);
}

.tos-container a {
    color: var(--color);
}

.tos-container a:hover {
    text-decoration: underline;
}

.tos-container ul,
.tos-container li {
    line-height: 1.6;
}

/* Hide Scrollbar for WebKit Browsers */
.tos-container ul::-webkit-scrollbar {
    display: none;
}