.troubleshoot-container {
    margin-top: 60px;
    cursor: default;
}

.troubleshooting-section {
  max-width: 800px;
  margin: 5px auto;
  padding: 20px;
  background: inherit;
  border-radius: 8px;
  box-shadow: 0 0 3px #000;
}

.troubleshooting-section h1,
.troubleshooting-section h2 {
  color: var(--color);
  font-family: myFont;
}

.troubleshooting-section p,
.troubleshooting-section ul,
.troubleshooting-section li {
  color: inherit;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

.troubleshooting-section a {
  color: var(--color);
  text-decoration: none;
}

.troubleshooting-section a:hover {
  text-decoration: underline;
}

.troubleshooting-section ul {
  margin: 10px 0;
  padding-left: 20px;
}

.troubleshooting-section li {
  margin-bottom: 10px;
}