.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--theme);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 80;
}
.bg-loader {
    background-image: url("../images/bg/landscape-mode.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 500px) {
    .bg-loader {
        background-image: url("../images/bg/portrait-mode.jpg");
    }
}
@media screen and (max-height: 470px) {
    .loader h2 {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}
.loader h2 {
    font-family: var(--font-style);
    font-size: small;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 35%;
    transition: inherit;
    cursor: default;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}
.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid var(--color);
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
    border-width: thin;
    box-shadow: 0 1px 100px 30px var(--color);
}
.loader2 {
    content: "";
    width: 50px;
    height: 50px;
    border: 15px double var(--color);
    border-top-color: rgba(30, 143, 255, 0);
    border-bottom-color: rgba(30, 143, 255, 0) ;
    border-radius: 50%;
    animation: loading2 0.75s ease infinite;
    position: absolute;
}
.loader3 {
    content: "";
    width: 85px;
    height: 85px;
    border: solid thick var(--color);
    border-top-color: #ffff;
    border-radius: 50%;
    animation: loading3 0.75s ease infinite;
    position: absolute;
    box-shadow: 0 1px 10px 1px var(--color);
}
@keyframes loading {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes loading2 {
    from {
        transition: rotate(0turn);
    }
    to {
        transform: rotate(-1turn);
    }
}
@keyframes loading3 {
    from {
        transition: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
.loader h2 {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
