.card-container {
    min-height: 100vh;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.card-wrapper {
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.info-container h2 {
    color: var(--accent-color);
    font-family: var(--my-font);
}

.about-content p,
.experience-content p,
.my-info p {
    color: var(--text-color);
}

.about-content p {
    line-height: 1.5;
}

.skill-content {
    border-bottom: 2px solid var(--accent-color);
}

p.skill {
    padding: 10px 20px;
}

p.email {
    border-left: 4px solid var(--accent-color);
    color: var(--accent-color);
    padding: 20px;
}

.about-container {
    text-align: center;
}

.about-content {
    display: flex;
    border-radius: var(--border-stylized);
    text-align: justify;
    padding: 20px;
    background: var(--content-color);
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

.about-content:hover {
    background: var(--colored-overlay);
    transform: scale(1.02);
}

.experience {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.experience-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.experience-content p {
    padding: 20px;
    border-radius: var(--border-stylized);
    width: 175px;
    background: var(--content-color);
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

.experience-content p:hover {
    background: var(--colored-overlay);
    transform: scale(1.05);
}

.tools-used-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tools-wrapper img {
    width: 60px;
    height: 60px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    padding: 5px;
    border-radius: var(--border-stylized);
}

.tools-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.tools-wrapper .tool {
    width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: var(--content-color);
    border-radius: var(--border-stylized);
    box-shadow: var(--shadow);
    padding: 10px;
    transition: all 0.3s ease;
}

.tools-wrapper .tool:hover {
    background: var(--colored-overlay);
    transform: translateY(-5px);
}

.card {
    min-height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: var(--border-stylized);
    background: var(--secondary-color);
    box-shadow: var(--shadow);
    animation: fadeInUp 0.6s ease forwards;
}

.pfp-container {
    z-index: 1;
}

.card img.pfp {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    background: var(--accent-color);
    border-radius: var(--border-rounded);
    color: var(--accent-color);
    border: 5px solid;
    margin-bottom: -70px;
    pointer-events: none;
}

.me {
    flex: 1;
}

.info-container {
    background: var(--secondary-color);
    padding: 20px;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: var(--border-stylized);
    box-shadow: var(--shadow);
    animation: fadeInUp 0.6s ease forwards;
}

.my-info {
    padding: 10px 16px;
    border-radius: var(--border-stylized);
    background: var(--secondary-color);
    box-shadow: var(--shadow);
}

.my-info h1 {
    border-bottom: 2px solid;
    margin-top: 70px;
    color: var(--accent-color);
    font-family: var(--my-font);
}

.my-info p {
    text-align: left;
    color: var(--text-color);
    border-radius: var(--border-stylized);
    background: var(--content-color);
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

.my-info p:hover,
.mysocial img:hover {
    background: var(--colored-overlay);
    transform: scale(1.05);
}

.mysocial img {
    width: 45px;
    height: 45px;
    aspect-ratio: 1/1;
    padding: 10px;
    margin: 3px;
    box-shadow: var(--shadow);
    background: var(--content-color);
    object-fit: cover;
    border-radius: var(--border-stylized);
    transition: all 0.3s ease;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .experience-list {
        flex-direction: column;
    }

    .about-content p {
        text-align: justify;
    }
}