.card-container {
    min-height: 100vh;
    margin-top: 50px;
    background-image: url('../images/bg/lbg_main4.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.overlay {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px;
    gap: 10px;
    background: var(--overlay);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.summary h2,
.expcontent h2,
.program-content h2 {
    color: #f0f0f0;
    margin-top: 50px;
}

.summary p,
.expcontent p,
.my-info p {
    color: var(--text-color);
    line-height: 1.6;
}

.summary {
    text-align: center;

}

.card,
.summaryContent,
.expcontent p,
.program-logo img {
    background: var(--theme-color);
    box-shadow: 0 0 2px var(--text-color);
}

.summaryContent {
    display: flex;
    border-radius: 10px;
    text-align: justify;
    padding: 20px;
}

.experience {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.expcontent p {
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    width: 175px;
}

.program {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.program-logo img {
    width: 55px;
    height: 55px;
    border-radius: 6px;
    background: var(--content-bg);
    transform: scale(1);
}

.program-logo img:hover {
    transform: scale(0.90);
}

.me {
    flex: 1;
}

.info-container {
    flex: 2;
}

.card {
    min-height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background: var(--theme-color);
}

.pfp-container {
    z-index: 1;
}

.card img.pfp {
    width: 60%;
    border-radius: 50%;
    border: 2px solid;
    margin-bottom: -70px;
    pointer-events: none;
}

.my-info {
    padding: 10px 16px;
    border-radius: 50px 50px 10px 10px;
    box-shadow: 0 0 2px;
    background: var(--content-bg);
}

.my-info h1 {
    border-bottom: 2px solid;
    margin-top: 70px;
    color: var(--text-color);
}

.my-info p {
    padding: 5px;
    text-align: left;
    color: var(--text-color);
    border-radius: 30px 50px 50px 30px;
    border: 1px solid;
    background: var(--theme-overlay);
}

.my-info p:hover,
.mysocial img:hover {
    background: var(--overlay);
}

.my-info p:hover,
.mysocial img:hover {
    transform: scale(1.03);
}

.mysocial img {
    width: 35px;
    height: 35px;
    aspect-ratio: 1/1;
    margin: 3px;
    border: 1px solid var(--text-color);
    background: var(--theme-overlay);
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 750px) {
    .card-container {
        background-image: none;
    }

    .card img.pfp {
        width: 100%;
    }

    .my-info p {
        border-radius: 50px;
    }

    .summary .summaryContent p {
        text-align: justify;
    }
}