.card-container {
    min-height: 100vh;
    margin-top: 50px;
    background-image: url('../images/bg/lbg_main4.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    background: var(--overlay);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.info-container H2 {
    color: var(--color);
    font-family: 'myFont', sans-serif;
}

.summary-content p,
.experience-content p,
.my-info p {
    color: var(--text-color);
    line-height: 1.7;
}

.summary-container {
    text-align: center;
}

.summary-content {
    display: flex;
    border-radius: 18px;
    text-align: justify;
    padding: 20px;
    background: var(--theme-color);
    box-shadow: 0 0 3px var(--color);
}

.experience {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.experience-content p {
    padding: 10px;
    display: inline-block;
    border-radius: 18px;
    width: 175px;
    background: var(--theme-color);
    box-shadow: 0 0 3px var(--color);
}

.program-used-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.program-logo img {
    width: 55px;
    height: 55px;
    border-radius: 6px;
    background: var(--content-bg);
    transform: scale(1);
    box-shadow: 0 0 3px var(--color);
    transition: transform 0.2s;
}

.program-logo img:hover {
    transform: scale(0.90);
}

.card {
    min-height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 18px;
    background: var(--theme-color);
    box-shadow: 0 0 3px var(--color);
}

.pfp-container {
    z-index: 1;
}

.card img.pfp {
    width: 50%;
    height: 50%;
    aspect-ratio: 1/1;
    background: var(--content-bg);
    border-radius: 50%;
    border: 2px solid var(--color);
    margin-bottom: -70px;
    pointer-events: none;
}

.me {
    flex: 1;
}

.info-container {
    flex: 2;
}

.my-info {
    padding: 10px 16px;
    border-radius: 50px 50px 10px 10px;
    box-shadow: 0 0 2px var(--color);
    background: var(--content-bg);
}

.my-info h1 {
    border-bottom: 2px solid;
    margin-top: 70px;
    color: var(--color);
    font-family: 'myFont', sans-serif;
}

.my-info p {
    padding: 5px;
    text-align: left;
    color: var(--text-color);
    border-radius: 30px 50px 50px 30px;
    background: var(--theme-overlay);
    transition: background 0.2s, transform 0.2s;
}

.my-info p:hover,
.mysocial img:hover {
    background: var(--overlay);
    transform: scale(1.03);
}

.mysocial img {
    width: 35px;
    height: 35px;
    aspect-ratio: 1/1;
    margin: 3px;
    border: 2px solid var(--text-color);
    background: var(--overlay);
    object-fit: cover;
    border-radius: 50px;
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .card-container {
        background-image: none;
    }

    .card img.pfp {
        width: 100%;
    }

    .my-info p {
        border-radius: 50px;
    }

    .summary-content p {
        text-align: justify;
    }
}
