.secondary-navigation {
    background: none !important;
    box-shadow: none !important;
    justify-content: left !important;
}

.filter-character {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin var(--color);
    padding: 5px;
    margin: 0 5px;
    border-radius: 10px;
    background: var(--overlay);
    gap: 5px;
}

.filter-character a {
    padding: 5px;
    border: solid thin var(--color);
    border-radius: 5px;
    color: var(--color);
    background: var(--theme-overlay);
}

.character-container {
    background: url('../images/character-presets/gif/default.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-shadow: inset 0px 20px 20px -20px var(--color), /* Top shadow */
                inset 0px -20px 20px -20px var(--color); /* Bottom shadow */
    transition: all 0.3s ease-in-out;
}

#characterOverlay {
    background: var(--overlay);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    gap: 20px;
    max-width: 100vw; /* Constrain width */
    overflow-x: hidden;
    z-index: 1;
}

.character-slider {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.carousel-view {
    overflow: hidden;
    flex: 1;
    max-width: 100%;
}

.carousel-view h2 {
    color: #ff9239;
    text-align: center;
    background: var(--overlay);
    border-radius: 30px 30px 0 0;
    padding: 5px;
}

.character-cards-wrapper {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
    will-change: transform; /* Improve performance */
}

.character-card {
    flex: 1 1 200px; /* Flex grows, but sets a base width */
    max-width: 250px; /* Maximum width for larger screens */
    min-width: 130px; /* Minimum width for smaller screens */
    height: 270px;
    background: var(--overlay);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border: solid thin;
    border-top: solid 5px;
    border-bottom: solid 3px;
    border-radius: 5px 5px 30px 30px;
    color: var(--color);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.character-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(50%);
    transition: all 0.3s ease-in-out;
}

.character-card img:hover {
    filter: grayscale(0%);
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    opacity: 0.8;
    text-align: center;
    padding: 5px;
    background: var(--overlay);
    color: #fff;
    box-shadow: 0 0 3px #000;
    transition: all 0.3s ease-in-out;
}

.overlay p {
    margin: 0;
    transition: inherit;
}

h5.name-tag {
    margin: 0;
}

p.title {
    font-size: 0.7rem;
    color: #ff9239;
}

.character-card:hover .overlay {
    height: 25%;
    opacity: 1;
}

.carousel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin;
    background: var(--overlay);
    color: var(--color);
    padding: 50px 10px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

.left-btn {
    border-radius: 15px 0 0 15px;
}

.right-btn {
    border-radius: 0 15px 15px 0;
}

.left-btn:hover,
.right-btn:hover {
    text-shadow: 0 0 10px var(--color);
}

.close-btn {
    width: 100%;
    position: relative;
    color: var(--color);
    border: solid thin;
    border-radius: 50px;
    padding: 5px;
}

.character-info {
    background: url('../images/gif/2rnb.gif'), var(--overlay);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--default-font-color);
    border-radius: 10px;
    border-top: solid thick var(--color);
    border-bottom: solid thick var(--color);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    opacity: 0.7;
}

.character-info h2 {
    text-align: center;
    color: #f0f0f0;
}

.character-info h3 {
    color: #f0f0f0;
}

.character-info strong {
    color: #f0f0f0;
    box-shadow: 0 0 3px #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    background: var(--overlay);
}

.character-info info {
    box-shadow: 0 0 3px #f0f0f0;
    border-radius: 5px;
    padding: 5px;
}

.character-info purple {
    color: rgb(189, 0, 189);
}

.character-info blue {
    color: rgb(30, 144, 255);
}

.character-info red {
    color: rgb(255, 0, 0);
}

.character-info yellow {
    color: rgb(255, 255, 0);
}

.character-info orange {
    color: rgb(255, 136, 0);
}

.character-info green {
    color: rgb(30, 255, 0);
}

.character-info-scrollable {
    overflow-y: auto;
    height: 390px;
    padding: 0 10px;
}

.character-info p {
    line-height: 1.6;
    color: #f0f0f0;
}

.info-section {
    border-bottom: solid thin;
}

.role {
    position: absolute;
    display: flex;
    gap: 2px;
    margin: 2px;
}

.role img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: solid thin var(--color);
    background: var(--theme-overlay);
    z-index: 1;
    opacity: 0.8;
}

#elementalPower,
#affiliates p,
#likes p,
#dislikes p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

#elementalPower img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid thin;
    background: var(--theme-overlay);
    transition: scale 0.3s ease-in-out;
}

#elementalPower img:hover {
    transform: scale(1.05);
}

#background p {
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .content {
        flex-direction: row;
        justify-content: center;
    }

    .character-slider {
        flex: 1;
        max-width: 60%;
    }

    .character-info {
        max-width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .character-card {
        min-width: 100%;
        max-width: 100%;
        height: 370px;
    }
}