.secondary-navigation {
    background: none !important;
    box-shadow: none !important;
    justify-content: left !important;
}

.filter-character {
    align-items: center;
    background: var(--content-bg);
    border-radius: 10px;
    box-shadow: 0 0 2px var(--text-color);
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 5px;
    padding: 5px;
}

.filter-character a {
    border-radius: 10px;
    box-shadow: 0 0 2px var(--text-color);
    color: var(--text-color);
    padding: 5px;
}

.character-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.character-container {
    align-items: end;
    display: flex;
    gap: 20px;
    max-width: 100vw;
    padding: 15px;
    position: relative;
    z-index: 3;
}

.character-background {
    background: url('../images/character-presets/cover/default.gif');
}

.character-overlay {
    background: var(--overlay);
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.character-background,
.character-overlay {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

.character-wrapper h2 {
    margin-top: 0;
    text-shadow: 0 0 5px #0a0a0a;
}

.character-wrapper h3,
.character-wrapper h5,
.character-wrapper p.title {
    text-shadow: 0 0 2px #0a0a0a;
}

.character-slider {
    align-items: center;
    backface-visibility: visible;
    display: flex;
    flex: 1;
    overflow: hidden;
    transform-style: preserve-3d;
    width: 100%;
    min-width: auto;
    max-width: 100%;
}

.carousel-view {
    flex: 1;
    max-width: 100%;
    min-height: 330px;
    overflow: hidden;
}

.carousel-view h2 {
    border-bottom: 1px solid #ff9d4c;
    color: #ff9d4c;
    padding: 5px;
    text-align: center;
}

.character-cards-wrapper {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.character-card {
    backface-visibility: visible;
    background: var(--overlay);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
    border-bottom: 3px solid;
    border-radius: 5px 5px 30px 30px;
    border-top: 4px solid;
    color: var(--theme-color);
    flex: 1 1 200px;
    height: 270px;
    max-width: 250px;
    min-width: 130px;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
}

.character-card img {
    filter: grayscale(100%);
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: filter 0.3s ease-in-out;
    width: 100%;
}

.character-card:hover img,
.character-card.clicked img {
    filter: grayscale(0%);
}

.overlay {
    align-items: center;
    background: var(--overlay);
    box-shadow: inset 0 0 0 0 #ff9d4c;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
    text-align: center;
    transition: box-shadow 0.5s ease-out, height 0.3s ease-in-out;
    width: 100%;
}

.character-card img,
.overlay,
.overlay h5,
.overlay p {
    cursor: pointer;
}

.overlay p {
    margin: 0;
}

h5.name-tag {
    margin: 0;
}

p.title {
    color: #ff9d4c;
    font-size: 0.7rem;
}

.character-card:hover .overlay {
    box-shadow: inset 0px -50px 50px -50px #ff9d4c;
    height: 100%;
}

.character-card.clicked .overlay {
    box-shadow: inset 0px -50px 50px -50px #ff9d4c;
    height: 25%;
}

.carousel-btn {
    align-items: center;
    background: var(--theme-color);
    border: 1px solid #ff9d4c;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    margin: 0 10px;
    padding: 65px 10px;
}

.left-btn {
    border-radius: 15px 0 0 15px;
}

.right-btn {
    border-radius: 0 15px 15px 0;
}

.close-btn-container {
    text-align: right;
    width: 100%;
}

.close-btn {
    background: var(--theme-color);
    border: 1px solid;
    border-radius: 50px;
    color: var(--text-color);
    height: 30px;
    padding: 5px;
    transition: 0.3s ease-in-out;
    width: 30px;
}

.character-info {
    backface-visibility: visible;
    background: var(--overlay);
    border-bottom: solid 5px var(--theme-color);
    border-radius: 10px;
    border-top: solid 5px var(--theme-color);
    color: var(--text-color);
    max-width: 400px;
    min-width: 40%;
    max-width: auto;
    padding: 10px;
    transform-style: preserve-3d;
}

.character-info h2 {
    color: #f0f0f0;
    text-align: center;
}

.character-info h3 {
    color: #ff9d4c;
}

.character-info strong {
    background: var(--overlay);
    border: 1px solid var(--theme-color);
    border-radius: 10px;
    color: #f0f0f0;
    padding: 5px;
}

.character-info info {
    background: var(--overlay);
    border: 1px solid var(--theme-color);
    border-radius: 10px;
    padding: 5px;
}

.character-info gray {
    color: #808080;
}

.character-info purple {
    color: #bd00bd;
}

.character-info blue {
    color: #1e90ff;
}

.character-info red {
    color: #e02626;
}

.character-info pink {
    color: #ff2c4f;
}

.character-info yellow {
    color: #ffd900;
}

.character-info orange {
    color: #e79b0d;
}

.character-info green {
    color: #2ccc2c;
}

.character-info-scrollable {
    height: 390px;
    overflow-y: auto;
    padding: 0 10px;
}

.character-info p {
    color: #f0f0f0;
    line-height: 1.6;
    text-align: justify;
}

.info-section {
    border-bottom: 1px solid var(--theme-color);
}

.role {
    display: flex;
    gap: 2px;
    margin: 2px;
    position: absolute;
}

.role img {
    background: #ff9d4c;
    border: 1px solid var(--theme-color);
    border-radius: 50%;
    filter: drop-shadow(0 0 0 rgb(0, 0, 0));
    height: 36px;
    opacity: 0.8;
    width: 36px;
    z-index: 1;
}

#elementalPower,
#affiliates p,
#likes p,
#dislikes p {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#elementalPower img {
    aspect-ratio: 1/1;
    background: var(--overlay);
    border: 1px solid var(--theme-color);
    border-radius: 10px;
    height: 40px;
    transition: scale 0.3s ease-in-out;
    width: 40px;
}

#elementalPower img:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 768px) {
    .character-container {
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .filter-character {
        display: none;
    }
    .character-container {
        flex-direction: column;
        justify-content: center;
    }
    .character-card {
        max-width: 100%;
        min-height: 370px;
        min-width: 100%;
    }
    .role img {
        height: 50px;
        width: 50px;
    }
    .overlay h5,
    .overlay p {
        font-size: medium;
    }
}