.cs-container {
    margin-top: 110px;
    min-height: 100vh;
}

.cs-flex {
    display: flex;
    flex-direction: row;
}

.price {
    width: 100%;
    height: 350px;
    overflow: auto;
}

span.price-amount,
span.percent {
    color: #008600;
}

.price, .img-container {
    padding: 5px;
}

.img-container {
    filter: grayscale(0%);
    transition: 0.3s ease-in-out;
}

.img-container.clicked {
    filter: grayscale(100%);
}

.cs-container h2 {
    position: relative;
    padding: 9px;
    margin: 0;
    color: var(--text-color);
    box-shadow: 0 0 2px var(--text-color);
    z-index: 1;
}

.cs-container h2,
.inquire-button {
    background: var(--content-bg);
}

.cs-container p {
    padding: 10px;
    text-align: left;
    color: var(--text-color);
    border-radius: 5px;
    background: var(--content-bg);
}

.price h3 {
    margin: 0;
    letter-spacing: 3px;
    text-align: center;
    color: var(--text-color);
    padding: 9px;
    opacity: 0.9;
}

.inquire-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 2px var(--text-color);
}

.inquire-button a {
    padding: 10px 30px;
    margin: 5px;
    background: var(--theme-color);
    border-radius: 50px;
    border: 1px solid;
    color: var(--color);
}

.inquire-button a:hover {
    text-shadow: 0 0 10px var(--color);
}

.cs-content {
    color: var(--text-color);
    text-align: center;
    box-shadow: 0 0 3px var(--text-color);
    border-radius: 10px;
    max-width: 1000px;
    margin: 10px auto;
    overflow: hidden;
}

.cs-content2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--text-color);
    text-align: left;
    padding: 10px;
}

.cs-content2 section {
    border-radius: 10px;
    box-shadow: 0 0 2px var(--text-color);
    overflow: hidden;
}

.cs-content2 p {
    background: none;
    border-radius: 0;
}

.cs-container img {
    position: relative;
    width: 350px;
    height: 350px;
    min-width: 350px;
    min-height: 350px;
    object-fit: contain;
    object-position: center;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    box-shadow: 0 0 2px var(--text-color);
    pointer-events: none;
}

@media screen and (max-width: 500px) {
    .cs-flex {
        flex-direction: column;
    }

    .inquire-button {
        text-align: center;
        flex-direction: column;
    }

    .cs-container img {
        width: 100%;
    }

    .cs-content2 {
        flex-direction: column;
    }
}
