.currency-conversion-btn {
    position: absolute;
    right: 0;
    padding: 5px 20px;
    margin: auto 5px;
    border: 2px solid var(--color);
    border-radius: 50px;
    color: var(--color);
    background: var(--theme-color);
    outline: none;
    cursor: pointer;
}

.cs-container {
    margin-top: 110px;
    min-height: 100vh;
    padding: 0 5px;
}

.cs-container h2 {
    position: relative;
    color: var(--text-color);
}

.cs-container p {
    padding: 5px;
    text-align: left;
    color: var(--text-color);
}

.cs-container img {
    position: relative;
    width: 350px;
    height: 350px;
    object-fit: contain;
    object-position: center;
    aspect-ratio: 1 / 1;
    background: var(--theme-color);
    box-shadow: 0 0 2px var(--color);
    border-radius: 10px;
    pointer-events: none;
}

.cs-wrapper {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: var(--content-bg);
    gap: 5px;
}

.price-wrapper {
    width: 100%;
    background: var(--theme-color);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 2px var(--color);
    transition: 0.3s ease-in-out;
    overflow: hidden;
}

.price-wrapper a {
    width: 100%;
    padding: 14px 32px;
    border-top: 1px solid var(--color);
    color: var(--color);
    display: block;
    text-align: center;
}

.price-wrapper:hover,
.sample-img:hover {
    transform: scale(0.99);
}

.price {
    overflow: auto;
    height: 405px;
}

.price h3 {
    margin: 0;
    text-align: center;
    color: var(--color);
    padding: 10px;
    border-bottom: 1px solid var(--color);
}

span.price-amount,
span.percent {
    color: #008600;
}

.sample-img {
    border-radius: 10px;
    background: var(--content-bg);
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.sample-img.clicked {
    filter: grayscale(100%);
}

.inquire-button {
    background: var(--content-bg);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 2px var(--color);
    padding: 5px;
}

.inquire-button a {
    padding: 12px 30px;
    margin: 5px;
    background: var(--theme-color);
    border-radius: 50px;
    border: 1px solid;
    color: var(--color);
    transition: background 0.3s ease-in-out;
}

.inquire-button a:hover {
    background: var(--theme-overlay);
}

.cs-content {
    color: var(--text-color);
    text-align: center;
    box-shadow: 0 0 3px var(--color);
    border-radius: 18px;
    max-width: 1000px;
    margin: 10px auto;
    overflow: hidden;
}

.cs-content2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    background: var(--content-bg);
    color: var(--text-color);
    text-align: left;
    padding: 10px;
    box-shadow: 0 0 3px var(--color);
    border-radius: 18px;
    margin-bottom: 10px;
}

.cs-content2 section {
    border-radius: 18px;
    background: var(--theme-color);
    padding: 10px;
    overflow: hidden;
}

.cs-content2 p {
    background: none;
    border-radius: 0;
}

section h2 {
    color: var(--text-color);
    border-bottom: 1px solid var(--color);
    padding: 10px;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .cs-wrapper {
        flex-direction: column;
    }
    .inquire-button {
        text-align: center;
        flex-direction: column;
    }
    .cs-container img {
        width: 100%;
    }
    .cs-content2 {
        flex-direction: column;
    }
}
