.contact-container {
    margin-top: 50px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url('../images/bg/lbg_main2.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

form.contact,
.contact-subContent {
    flex: 1;
}

form.contact {
    padding: 30px 40px 20px;
    flex: 1.3;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--color);
    text-shadow: 0 0 3px #0a0a0a;
}

form h1 {
    text-align: center;
}

.contact-subContent {
    text-align: center;
    padding: 10px;
    background: var(--theme-color);
}

.moreInfo {
    box-shadow: 0 0 2px;
    border-radius: 10px;
    padding: 5px;
    color: var(--text-color);
}

input[type="email"],
input[type="text"],
input[type="file"],
input[type="message"],
select,
textarea,
.upload-content {
    width: 100%;
    padding: 12px;
    border: solid 1px;
    border-radius: 10px;
    outline: none;
    margin: 8px 0;
    resize: vertical;
    background: none;
    color: var(--color);
}

input[type="message"],
textarea {
    max-height: 150px;
    height: 150px;
}

input[type="email"],
input[type="text"],
input[type="file"],
input[type="message"],
select,
textarea,
.upload-content {
    transition: background-color 0.3s ease-in-out;
}

input[type="file"] {
    border-style: none;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
textarea:focus, 
select:focus,
.upload-content:focus {
  border-color: #6C63FF;
  outline: none;
}

input[type="file"] {
    width: 100%;
}

img#image-preview {
    object-fit: contain;
    object-position: center;
    width: 100%;
    border-radius: 5px;
}

#remove-btn {
    padding: 5px;
    border: solid 1px;
    background: none;
    border-radius: 50px;
    width: 100%;
    margin: 5px auto;
    outline: none;
    color: inherit;
}

input[type="Submit"] {
    padding: 10px 30px;
    border: solid 1px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.tos-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    padding: 5px;
}

.tos-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px;
    color: var(--color);
}

.logo-view img {
    position: relative;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.payment img {
    padding: 4px;
    margin: 3px;
    transition: 0.3s ease-in-out;
    border-radius: 50px;
    border: solid 1px;
}

.payment img:hover {
    transform: rotate(360deg);
    box-shadow: var(--color) 0px 0px 50px 0.5px;
}

.gbm img {
    width: 80%;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.gbm img:hover {
    transform: scale(0.96);
    filter: drop-shadow(0 0 3px var(--color));
}

#email-error,
#message-error,
#username-error,
#commission-error,
#file-error {
    position: relative;
    color: rgb(255, 123, 0);
    padding-top: 2px;
    padding-left: 5px;
    transition: 0.3s ease-in-out;
}

#email-valid,
#message-valid,
#username-valid,
#commission-valid,
#file-valid {
    position: relative;
    color: rgb(144, 238, 144);
    padding-top: 2px;
    padding-left: 5px;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 995px) {
    input[type="Submit"] {
        margin: 15px 0;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .contact-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .contact-container {
        flex-direction: column;
        background-image: url('../images/bg/pbg_main1.webp');
    }

    .tos-container {
        justify-content: center;
    }

    .submit-container {
        justify-content: center;
    }
}
