.customer-support-container {
    margin-top: 60px;
}

form h1 {
    text-align: center;
    color: var(--color);
}

/* General Form Styling */
form.customer {
    background: inherit;
    color: var(--color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px #000;
    max-width: 600px;
    margin: 20px auto;
}

/* Input Fields */
input[type="text"], 
input[type="email"],
input[type="file"],
textarea, 
select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 10px;
    border: solid thin;
    background: none;
    color: inherit;
    transition: border-color 0.3s ease;
}

/* Message Input */
input[type="message"],
textarea {
    max-height: 150px;
    height: 150px;
}

input[type="email"],
input[type="text"],
input[type="file"],
input[type="message"],
textarea,
select {
    transition: background-color 0.3s ease-in-out;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
textarea:focus, 
select:focus {
    border-color: #6C63FF; /* Accent color (e.g., light purple) */
    outline: none;
}

/* Textarea Styling */
textarea {
    resize: none;
    height: 150px;
}

/* File Input */
input[type="file"] {
    border-style: none;
    width: 100%;
}

.fileUpload-content {
    border-radius: 10px;
    border: solid thin;
    color: var(--color);
    padding: 5px;
    margin-bottom: 5px;
}

img#image-preview {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 500px !important;
}

#remove-btn {
    padding: 5px;
    border: solid thin;
    color: inherit;
    border-radius: 50px;
    width: 100%;
    margin: 5px auto;
    outline: none;
}

/* Error Messages */
#file-error {
    position: relative;
    color: rgb(255, 0, 0);
    padding-top: 2px;
    padding-left: 5px;
    transition: 0.3s ease-in-out;
}

/* Valid Messages */
#file-valid {
    position: relative;
    color: rgb(144, 238, 144);
    padding-top: 2px;
    padding-left: 5px;
    transition: 0.3s ease-in-out;
}

/* Submit Button */
input[type="submit"] {
    color: var(--default-font-color);
    padding: 10px 30px;
    border: solid thin;
    border-radius: 50px;
}

/* Responsive Styling */
@media (max-width: 768px) {
    form.customer {
      padding: 15px;
      border-radius: 0;
    }
    input[type="submit"] {
      width: 100%;
    }
}