.faq-overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    background: url('../images/bg/Legend_of_the_crystalight.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    padding-top: 90px;
}

.faq-item h2 {
    color: inherit;
}

.faq-item p {
    color: inherit;
    text-align: justify;
}

.faq-item a {
    text-decoration: none;
}

.faq-container ul {
    max-width: 1000px;
    padding: 0;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    list-style: none;
}

.faq-item {
    padding: 20px;
    border-radius: 10px;
    background: var(--theme-color);
    margin: 5px;
    box-shadow: 0 0 2px;
}

.faq-container ul {
    color: var(--text-color);
}

.faq-container ul::-webkit-scrollbar {
    display: none;
}