.guide-container {
    margin-top: 60px;
}

.user-guide {
    max-width: 800px;
    margin: 5px auto;
    padding: 20px;
    background: inherit;
    border-radius: 10px;
    box-shadow: 0 0 3px #000;
}

.user-guide h1,
.user-guide h2 {
    color: var(--color);
}

.user-guide p,
.user-guide ul,
.user-guide li {
    color: inherit;
    line-height: 1.6;
}

.user-guide a {
    color: var(--color);
    text-decoration: none;
}

.user-guide a:hover {
    text-decoration: underline;
}

.user-guide ul {
    margin: 10px 0;
    padding-left: 20px;
}

.user-guide li {
    margin-bottom: 10px;
}

.user-guide ul ul {
    margin-left: 20px;
    list-style-type: circle;
}

@media screen and (max-width: 500px) {
    .user-guide {
        border-radius: 0;
    }
}