.help-container {
    margin-top: 60px;
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.help-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.help-card {
    width: calc(50% - 10px); /* Two cards per row on larger screens */
    background: var(--theme-overlay);
    border-radius: 8px;
    box-shadow: 0 0 3px #000;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.help-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.help-link {
    display: block;
    text-decoration: none;
    height: 100%;
    padding: 20px;
}

.help-section h2 {
    margin-bottom: 10px;
    color: var(--color);
    border-bottom: solid 1px;
}

.help-section p {
    color: var(--text-color);
}

@media (max-width: 768px) {
    .help-card {
      width: calc(100% - 10px); /* Single card per row for tablet and below */
    }
}

@media (max-width: 480px) {
    .help-section {
      flex-direction: column;
      align-items: center;
    }

    .help-card {
      width: 100%;
      margin-bottom: 15px;
    }
}