/* Disable scrolling */
.no-scroll {
    overflow: hidden;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: var(--theme-color);
    align-items: center;
    opacity: 1;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 300000;
}

.loader h2 {
    color: var(--text-color);
    position: absolute;
    bottom: 35%;
    transition: inherit;
    letter-spacing: 3px;
    animation: flicker 1s infinite;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    border-radius: 50%;
    position: absolute;
    animation-timing-function: ease;
}

.small-spinner {
    width: 50px;
    height: 50px;
    border: 15px double var(--color);
    border-top-color: rgba(30, 143, 255, 0);
    border-bottom-color: rgba(30, 143, 255, 0);
    animation: rotateCounterclockwise 0.75s infinite;
}

.medium-spinner {
    width: 75px;
    height: 75px;
    border: thin solid var(--color);
    /*box-shadow: 0 1px 5000px 30px var(--color);*/
    animation: pulse 0.75s infinite;
}

.large-spinner {
    width: 85px;
    height: 85px;
    border: thick solid var(--color);
    border-top-color: rgba(0, 0, 0, 0);
    animation: rotateClockwise 0.75s infinite;
}

@keyframes pulse {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes rotateCounterclockwise {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(-1turn);
    }
}

@keyframes rotateClockwise {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes flicker {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@media screen and (max-width: 500px) {
    .loader h2 {
        display: none;
    }
}

@media screen and (max-height: 470px) {
    .loader h2 {
        opacity: 0;
        visibility: hidden;
    }
}