* {
    box-sizing: border-box;
    font-family: 'myFont', sans-serif;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-weight: 500;
}

body {
    background: var(--theme-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--color);
    border-radius: 9px;
}

@font-face {
    font-family: myFont;
    src: url("../fonts/squarefont/Square.ttf");
}

:root {
    --theme-color: #0a0a0a;
    --text-color: #f0f0f0;
    --color: #8a8a8a;
    --content-bg: #141414;
    --theme-overlay: rgba(64, 64, 64, 0.5);
    --overlay: rgba(10, 18, 24, 0.5);
    --scrollbar-track-color: rgba(0, 0, 0, 0);
    --font-style: 'myFont', sans-serif;
}

.theme-default {
    --theme-color: #0a0a0a;
    --text-color: #f0f0f0;
    --color: #8a8a8a;
    --content-bg: #141414;
    --theme-overlay: rgba(64, 64, 64, 0.5);
}

.theme-modern-white {
    --theme-color: #ffffff;
    --text-color: #2e2e2e;
    --color: #808080;
    --content-bg: #f0f0f0;
    --theme-overlay: rgba(172, 172, 172, 0.5);
}

.theme-dark-blue {
    --theme-color: #1c1f27;
    --text-color: #f0f0f0;
    --color: #1e90ff;
    --content-bg: #1a2635;
    --theme-overlay: rgba(30, 143, 255, 0.500);
}

.theme-white-blue {
    --theme-color: #ffffff;
    --text-color: #333;
    --color: #1e90ff;
    --content-bg: #ccd5e0;
    --theme-overlay: rgba(30, 143, 255, 0.500);
}

.theme-dark-red {
    --theme-color: #160f0f;
    --text-color: #f0f0f0;
    --color: #ff1e1e;
    --content-bg: #2e1616;
    --theme-overlay: rgba(255, 30, 30, 0.5);
}

.theme-white-red {
    --theme-color: #ffffff;
    --text-color: #333;
    --color: #ff1e1e;
    --content-bg: #e0cccc;
    --theme-overlay: rgba(255, 30, 30, 0.5);
}

.theme-dark-purple {
    --theme-color: #11051a;
    --text-color: #f0f0f0;
    --color: #a832ff;
    --content-bg: #2c162e;
    --theme-overlay: rgba(168, 50, 255, 0.5);
}

.theme-white-purple {
    --theme-color: #ffffff;
    --text-color: #333;
    --color: #a832ff;
    --content-bg: #ddcce0;
    --theme-overlay: rgba(168, 50, 255, 0.5);
}

.theme-dark-green {
    --theme-color: #051a08;
    --text-color: #f0f0f0;
    --color: #32ffa8;
    --content-bg: #162e17;
    --theme-overlay: rgba(50, 255, 168, 0.5);
}

.theme-white-green {
    --theme-color: #ffffff;
    --text-color: #333;
    --color: #32ffa8;
    --content-bg: #cce0cd;
    --theme-overlay: rgba(50, 255, 168, 0.5);
}

.theme-dark-yellow {
    --theme-color: #1a1a05;
    --text-color: #f0f0f0;
    --color: #ffa832;
    --content-bg: #2e2e16;
    --theme-overlay: rgba(255, 168, 50, 0.5);
}

.theme-white-yellow {
    --theme-color: #ffffff;
    --text-color: #333;
    --color: #ffa832;
    --content-bg: #e0e0cc;
    --theme-overlay: rgba(255, 168, 50, 0.5);
}

.summary-content p,
.experience-content p,
.cs-content p,
.cs-content2 p,
.comic-content p,
#abilities-scrollable p,
#background p,
.character-card p,
.character-info p,
.tos-container p,
.pp-container p,
.pp-item li,
.faq-container p,
.help-card p,
.popup-wn li,
.user-guide p,
.user-guide li,
.troubleshooting p,
.troubleshooting li {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.8rem;
}

button,
button i,
a,
a i,
a p,
a span,
.caption-btn a,
.settings-btn i,
input[type="Submit"] {
    cursor: pointer;
    background: none; 
}

.filter-character a:hover,
button:hover,
input[type="Submit"]:hover,
.caption-btn a:hover {
    text-shadow: 0 0 10px var(--color);
}

button.next,
button.prev {
    font-size: 1.5rem;
}

.card-container h1 {
    font-size: 1.5rem;
}

.caption-overlay h1 {
    font-size: 4.5rem;
}

.cs-content h2 {
    font-size: 1.3rem;
}

.dL {
    color: #28adff;
}

.footer a {
    font-size: 0.7rem;
}

.loader h2 {
    font-size: 1rem;
}

.maintenance_body h1 {
    font-size: 2.3rem;
}

.maintenance_body p {
    font-size: 1rem;
}

.p {
    font-size: 0.9rem;
}

.sideMenu-content h1,
.sideMenu-content h2,
.category-menu h1,
.category-menu h2 {
    font-size: 1rem;
}

.video_container h1 {
    font-size: 1.5rem;
}

#commissioner-info h1,
.waitlist-section h1 {
    font-size: 1.5rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus,
.slideshow-container:focus{
    border-color: var(--theme-overlay);
    outline: 2px solid var(--theme-overlay);
}