.maintenance_body {
    width: 100%;
    height: 100%;
    position: fixed;
    color: var(--text-color);
    background-image: url("../images/bg/lbg_main1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 30px 30px;
    z-index: 1;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: inherit;
}

.maintenance_body h1 {
    border-style: solid;
    border-width: 0 0 1px 0;
    font-family: 'myFont', sans-serif;
    text-align: center;
}

.maintenance_body p {
    text-align: center;
}

.maintenance_button {
    width: 100%;
    padding: 30px;
    background: var(--overlay);
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 1px 0 0 0;
    color: var(--text-color);
}

.maintenance_body button {
    padding: 10px 50px;
    color: var(--text-color);
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
    .maintenance_body {
        background-image: url("../images/bg/pbg_main1.webp");
    }

    .maintenance_button {
        height: 100%;
        border: 0;
        z-index: -1;
    }
}