* {
    box-sizing: border-box;
    font-family: 'myFont', sans-serif;
    cursor: default;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;

}

body {
    background: var(--theme-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--color);
    border-radius: 9px;
}

@font-face {
    font-family: myFont;
    src: url("../fonts/squarefont/Square.ttf");
}

:root {
    /* --theme-color: linear-gradient(to right, rgb(10, 10, 10), rgb(20, 20, 20), rgb(30, 30, 30)); */
    --theme-color: #0a0a0a;
    --text-color: #f0f0f0;
    --color: #8a8a8a;
    --content-bg: rgba(15, 15, 15, 0.9);
    --hover-light: #4d4d4d;
    --theme-overlay: rgba(64, 64, 64, 0.5);
    --overlay: rgba(10, 18, 24, 0.5);
    --scrollbar-track-color: rgba(0, 0, 0, 0);
    --font-style: 'myFont', sans-serif;
}

.theme-default {
    /* --theme-color: linear-gradient(to right, rgb(10, 10, 10), rgb(20, 20, 20), rgb(30, 30, 30)); */
    --theme-color: #0a0a0a;
    --text-color: #f0f0f0;
    --color: #8a8a8a;
    --content-bg: rgba(15, 15, 15, 0.9);
    --hover-light: #4d4d4d;
    --theme-overlay: rgba(64, 64, 64, 0.5);
}

.theme-white-blue {
    --theme-color: #ffffff;
    --text-color: #333;
    --color: #1e90ff;
    --content-bg: rgba(22, 33, 46, 0.9);
    --hover-light: #1ac3da;
    --theme-overlay: rgba(30, 143, 255, 0.500);
}

.theme-modern-white {
    --theme-color: #ffffff;
    --text-color: #2e2e2e;
    --color: #808080;
    --content-bg: rgba(255, 255, 255, 0.9);
    --hover-light: #808080;
    --theme-overlay: rgba(172, 172, 172, 0.5);
}

.theme-dark-blue {
    /* --theme-color: linear-gradient(to right, rgb(15, 17, 22), rgb(28, 31, 39), rgb(45, 50, 61)); */
    --theme-color: #1c1f27;
    --text-color: #f0f0f0;
    --color: #1e90ff;
    --content-bg: rgba(22, 33, 46, 0.9);
    --hover-light: #1ac3da;
    --theme-overlay: rgba(30, 143, 255, 0.500);
}

.theme-dark-red {
    /* --theme-color: linear-gradient(to right, rgb(22, 15, 15), rgb(39, 28, 28), rgb(61, 45, 45)); */
    --theme-color: #160f0f;
    --text-color: #f0f0f0;
    --color: #ff1e1e;
    --content-bg: rgba(46, 22, 22, 0.9);
    --hover-light: #da1a1a;
    --theme-overlay: rgba(255, 30, 30, 0.5);
}

.theme-white-red {
    --theme-color: #ffffff;
    --text-color: #333;
    --color: #ff1e1e;
    --content-bg: rgba(46, 22, 22, 0.9);
    --hover-light: #da1a1a;
    --theme-overlay: rgba(255, 30, 30, 0.5);
}

.theme-dark-purple {
    /* --theme-color: linear-gradient(to right, rgb(35, 0, 61), rgb(55, 0, 85), rgb(85, 0, 115)); */
    --theme-color: #11051a;
    --text-color: #f0f0f0;
    --color: #a832ff;
    --content-bg: rgba(70, 30, 90, 0.9); 
    --hover-light: #c43cff;
    --theme-overlay: rgba(168, 50, 255, 0.5);
}

.theme-white-purple {
    --theme-color: #ffffff;
    --text-color: #333;
    --color: #a832ff;
    --content-bg: rgba(70, 30, 90, 0.9); 
    --hover-light: #c43cff;
    --theme-overlay: rgba(168, 50, 255, 0.5);
}

.theme-dark-green {
    /* --theme-color: linear-gradient(to right, rgb(0, 61, 35), rgb(0, 85, 55), rgb(0, 115, 85)); */
    --theme-color: #051a08;
    --text-color: #f0f0f0;
    --color: #32ffa8;
    --content-bg: rgba(30, 90, 70, 0.9);
    --hover-light: #3cffc4;
    --theme-overlay: rgba(50, 255, 168, 0.5);
}

.theme-white-green {
    --theme-color: #ffffff;
    --text-color: #333;
    --color: #32ffa8;
    --content-bg: rgba(30, 90, 70, 0.9);
    --hover-light: #3cffc4;
    --theme-overlay: rgba(50, 255, 168, 0.5);
}

.theme-dark-yellow {
    /* --theme-color: linear-gradient(to right, rgb(61, 61, 0), rgb(85, 85, 0), rgb(115, 115, 0)); */
    --theme-color: #1a1a05;
    --text-color: #f0f0f0;
    --color: #ffa832;
    --content-bg: rgba(90, 90, 30, 0.9);
    --hover-light: #ffc43c;
    --theme-overlay: rgba(255, 168, 50, 0.5);
}

.theme-white-yellow {
    --theme-color: #ffffff;
    --text-color: #333;
    --color: #ffa832;
    --content-bg: rgba(90, 90, 30, 0.9);
    --hover-light: #ffc43c;
    --theme-overlay: rgba(255, 168, 50, 0.5);
}

.summaryContent p,
.expcontent p,
.cs-content strong,
.cs-content p,
.comic-content p,
#abilities-scrollable p,
#background p,
.character-card p,
.tos-container p,
.pp-container p,
.pp-item li,
.faq-container p,
.help-card p,
.popup-wn li,
.user-guide p,
.user-guide li,
.troubleshooting p,
.troubleshooting li
{
    font-family: 'Roboto', sans-serif;
}

button,
button i,
a,
a i,
a p,
a span,
.caption-btn a,
.settings-btn i,
input[type="Submit"] {
    cursor: pointer;
    background: none;
}

.dL {
    color: #28adff;
}

input[type="Submit"] {
    font-family: inherit;
}

button:hover,
input[type="Submit"]:hover,
.caption-btn a:hover {
    text-shadow: 0 0 10px var(--color);
}

button.next,
button.prev {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.8rem;
}

a.brand {
    font-size: 1.5rem;
}

p {
    font-size: 0.9rem;
}

.loader h2 {
    font-size: 1rem;
}

#commissioner-info h1,
.waitlist-section h1 {
    font-size: 1.5rem;
}

.maintenance_body h1 {
    font-size: 2.3rem;
}

.maintenance_body p {
    font-size: 1rem;
}

.sideMenu-content h1,
.sideMenu-content h2,
.category-menu h1,
.category-menu h2 {
    font-size: 1rem;
}

.caption h1 {
    font-size: 4.5rem;
}

.video_container h1 {
    font-size: 1.5rem;
}

.card-container h1 {
    font-size: 1.5rem;
}

.cs-content h2 {
    font-size: 1.3rem;
}

.footer a {
    font-size: 0.7rem;
}