header {
    position: fixed;
    width: 100%;
    background: var(--theme-color);
    box-shadow: 0 0 2px;
    color: var(--text-color);
    top: 0;
    z-index: 100000;
}

.navigation-menu li {
    list-style: none;
}

.navigation-menu {
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    margin: 0;
    padding: 0;
}

.subMenu-container {
    border: solid 1px var(--text-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.settings-menu {
    position: relative;
}

.settings-btn {
    color: var(--text-color);
    padding: 10px 15px;
    border: none;
    transition: 0.3s ease-in-out;
}

.dropdown-setting {
    display: none;
    position: absolute;
    min-width: 160px;
    background: var(--theme-color);
    box-shadow: 0 0 2px var(--text-color);
    border-radius: 10px;
    right: 0;
    margin: 10px auto;
    z-index: 1;
}

.dropdown-setting a.setting {
    padding: 12px 16px;
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.dropdown-setting a:hover {
    color: var(--color);
}

.settings-menu.show-settings .dropdown-setting {
    display: block;
}

.profile {
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: solid 1px var(--text-color);
    margin: 0 5px;
    padding: 5px;
}

.profile img {
    width: 35px;
    height: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid 1px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
    min-height: 50px;
}

.nav-brand {
    font-weight: bold;
    color: var(--text-color);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
}

.sbt {
    margin-top: -1px;
    color: var(--color);
    font-family: 'Roboto', sans-serif;
}

.my-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    border: solid 1px var(--text-color);
}

.nav-link,
.nav-link-sideMenu {
    color: var(--text-color);
    background: none;
    border: none;
    padding: 14px 25px 12px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link-sideMenu:hover {
    color: var(--color);
    border-bottom: 0px solid var(--color);
}

.activeLink a {
    color: var(--color);
    border-bottom: 2px solid var(--color);
}

.nav-link.activeLink {
    color: var(--color);
    border-bottom: 2px solid var(--color);
}

.nav-link-sideMenu.activeLink {
    color: var(--color);
    border-bottom: 2px solid var(--color);
}

.sideMenu-content a.activeLink {
    background: var(--theme-overlay);
}

.nav-link.activeLink:hover {
    border-bottom: 1px solid var(--color);
}

.nav-link-sideMenu.activeLink:hover,
.sideMenu-content a.activeLink:hover {
    color: var(--color);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: var(--text-color);
    transition: 0.3s ease-in-out;
}

.search-container {
    margin: 0 5px;
    padding: 0;
    border: solid 1px var(--text-color);
    border-radius: 50px;
}

form.search input[type="search"] {
    float: right;
    width: 80%;
    background: none;
}

form.search button {
    float: left;
    width: 20%;
}

form.search input[type="search"],
form.search button {
    border: none;
    outline: none;
    margin: 0;
    padding: 12px;
    color: var(--text-color);
}

form.search::after {
    content: "";
    display: table;
    clear: both;
}

.search-result {
    position: absolute;
    top: 55px;
    min-width: 50%;
    background: var(--theme-color);
    border-radius: 10px;
    box-shadow: 0 0 2px;
    color: var(--text-color);
}

.search-result ul {
    max-height: 250px;
    overflow: auto;
    padding-left: 0;
}

.search-result ul li {
    list-style: none;
}

.search-result a {
    display: block;
    width: 100%;
    padding: 15px 10px;
    color: var(--text-color);
}

.search-result a:hover {
    background: var(--text-color);
    color: var(--color);
}

.search-result p {
    text-align: center;
    padding: 15px 10px;
    color: var(--color);
    border-radius: 0 0 10px 10px;
}

#upBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: var(--color);
    border: none;
    outline: none;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 3px #000;
    color: var(--text-color);
    z-index: 1;
}

#upBtn:hover {
    color: #000;
}

@keyframes wiggleAnimation {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

@media screen and (max-width: 978px) {
    .hamburger {
        display: block;
        padding: 5px;
        z-index: 1;
    }

    .hamburger.hamburger-active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.hamburger-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.hamburger-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navigation-menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--theme-color);
        gap: 50px;
        padding: 0;
        box-shadow: 0 0 1px #000;
        margin: 0;
        transition: 0.3s ease-in-out;
        z-index: 1;
    }

    .navigation-menu.navMenu-active {
        right: 0;
    }

    .sideMenu-content {
        width: 100%;
        padding: 0 !important;
        top: 0 !important;
    }
}

.sideMenu-content::-webkit-scrollbar,
.category-menu::-webkit-scrollbar {
    display: none;
}

.sideMenu-content,
.category-menu {
    background: var(--theme-color);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    box-shadow: 2px 0 5px -5px;
    transition: 0.3s ease-in-out;
}

.sideMenu-content {
    position: fixed;
    top: 50px;
    left: -100%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 100vh;
    padding-bottom: 50px;
    overflow: auto;
}

.sideMenu-content h2 {
    color: var(--text-color);
    margin: 0;
    padding: 15px;
}

.sideMenu-content a {
    color: var(--color);
    border-radius: 10px;
    padding: 15px 15px;
    margin: 3px;
}

.span-btn {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px;
    border-radius: 10px;
    margin: 5px;
}

.sideMenu-content a:hover {
    background: var(--text-color);
}

.show-sideMenu {
    left: 0;
}

.secondary-navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background: var(--theme-color);
    box-shadow: 0 0 2px;
    color: var(--text-color);
    top: 50px;
    z-index: 99;
}

.secondary-navigation h1 {
    text-align: center;
    color: var(--color);
    margin: 0 auto;
}

.category-btn {
    position: absolute;
    left: 0;
    margin: auto 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}

.category-dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 1px;
    background: var(--color);
    border-radius: 50%;
}

.category-menu {
    position: fixed;
    top: 100px;
    left: -100%;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    height: 100vh;
    padding: 0 0 50px 0;
    margin: 0;
    justify-content: left;
    overflow: auto;
}

.category-menu h2 {
    color: var(--text-color);
    margin: 0;
    padding: 15px;
}

.category-item {
    display: flex;
}

.category-item a {
    width: 100%;
    color: var(--color);
    border-radius: 10px;
    padding: 15px 15px;
    margin: 5px;
}

.category-item a:hover {
    background: var(--text-color);
}

.category-menu.categoryMenu-active {
    left: 0;
}

.currency-conversion-btn {
    position: absolute;
    right: 0;
    padding: 5px 20px;
    margin: auto 5px;
    border: solid 1px var(--text-color);
    border-radius: 5px;
    color: var(--color);
    background: none;
    outline: none;
}

option {
    background: var(--theme-color);
}

@media (max-width: 600px) {
    .search-result {
        left: 0;
        width: 100%;
    }

    .currency-conversion-btn {
        width: 90px;
    }

    .sbt {
        display: none;
    }

@media screen and (max-width: 500px) {
    .brand {
        display: none;
    }

    .category-menu h2 {
        text-align: left;
    }

    .category-menu {
        width: 100%;
    }
}}

.footer {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px;
    background: var(--theme-color);
    box-shadow: 0 0 2px var(--text-color);
    color: var(--color);
    text-align: center;
}

.copyright p {
    text-align: center;
    justify-content: center;
    color: var(--color);
}

.detail {
    color: var(--text-color);
    padding: 0 2px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.detail:hover {
    color: var(--color);
}

.social {
    position: relative;
    margin: 10px 0 auto;
}

.social img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    background: var(--color);
    margin: 0 3px;
    object-fit: cover;
}