header {
    position: fixed;
    width: 100%;
    background: var(--content-bg);
    box-shadow: 0 0 2px var(--color);
    color: var(--text-color);
    top: 0;
    z-index: 100000;
}

.no-scroll-sideMenu {
    overflow: hidden;
}

.navigation-menu {
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    margin: 0;
    padding: 0;
}

.navigation-menu li {
    list-style: none;
}

.subMenu-container {
    border: 2px solid var(--color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
    background: var(--theme-color);
}

.settings-menu {
    position: relative;
}

.settings-btn {
    color: var(--color);
    padding: 10px 15px;
    border: none;
}

.dropdown-setting {
    display: none;
    position: absolute;
    min-width: 160px;
    background: var(--content-bg);
    box-shadow: 0 0 3px var(--color);
    border-radius: 18px;
    right: 0;
    margin: 10px auto;
    padding: 10px 0;
    overflow: hidden;
    z-index: 1;
}

.dropdown-setting a.setting {
    padding: 12px 16px;
    margin: 5px;
    border-radius: 50px;
    color: var(--text-color);
    display: block;
}

.dropdown-setting a:hover {
    color: var(--color);
    background: var(--theme-overlay);
}

.settings-menu.show-settings .dropdown-setting {
    display: block;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--color);
    padding: 10px;
    cursor: pointer;
}

.profile:hover {
    background: var(--theme-overlay);
}

.profile img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid var(--color);
    object-fit: cover;
    object-position: center;
    background: var(--color);
    cursor: pointer;
}

.profile img:hover {
    animation: wiggleAnimation 0.3s ease-in-out;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile p.username {
    font-size: 1rem;
    font-weight: bold;
}

.profile p.userrole {
    font-size: 0.7rem;
    color: var(--color);
}

.profile p {
    margin: 0;
}

.profile i {
    color: var(--color);
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.profile i:hover {
    transform: scale(1.2);
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    min-height: 50px;
}

.main-navigation span {
    font-family: 'myFont', sans-serif;
}

.brand {
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 5px;
}

.brand img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    border: 2px solid var(--color);
    background: var(--color);
}

.brand a {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'myFont', sans-serif;
}

.nav-link,
.nav-link-sideMenu {
    color: var(--text-color);
    background: none;
    border: none;
    padding: 14px 25px 12px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link-sideMenu:hover {
    color: var(--color);
    border-bottom: 0px solid var(--color);
}

.activeLink a {
    color: var(--color);
    border-bottom: 2px solid var(--color);
}

.nav-link.activeLink {
    color: var(--color);
    border-bottom: 2px solid var(--color);
}

.nav-link-sideMenu.activeLink {
    color: var(--color);
    border-bottom: 2px solid var(--color);
}

.sideMenu-content a.activeLink {
    background: var(--theme-overlay);
}

.nav-link.activeLink:hover {
    border-bottom: 1px solid var(--color);
}

.nav-link-sideMenu.activeLink:hover,
.sideMenu-content a.activeLink:hover {
    color: var(--color);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: var(--color);
    transition: 0.3s ease-in-out;
}

.search-container {
    margin: 0 5px;
    padding: 0;
    border: 2px solid var(--color);
    border-radius: 50px;
    background: var(--theme-color);
    overflow: hidden;
}

form.search input[type="search"] {
    float: right;
    width: 80%;
    background: var(--theme-color);
    font-family: 'myFont', sans-serif;
    cursor: text;
}

form.search button {
    float: left;
    width: 20%;
    background: none;
}

form.search button:hover {
    background: none;
}

form.search input[type="search"],
form.search button {
    border: none;
    outline: none;
    margin: 0;
    padding: 12px;
    color: var(--text-color);
}

form.search::after {
    content: "";
    display: table;
    clear: both;
}

.search-result {
    position: absolute;
    top: 55px;
    min-width: 50%;
    background: var(--content-bg);
    border-radius: 18px;
    box-shadow: 0 0 3px var(--color);
    color: var(--text-color);
    padding: 5px;
}

.search-result ul {
    max-height: 250px;
    overflow: auto;
    padding: 0;
}

.search-result ul li {
    list-style: none;
}

.search-result a {
    display: block;
    width: 100%;
    padding: 15px 10px;
    color: var(--text-color);
    border-radius: 50px;
}

.search-result a:hover {
    background: var(--theme-overlay);
    color: var(--color);
}

.search-result p {
    text-align: center;
    padding: 15px 10px;
    color: var(--color);
    border-radius: 0 0 10px 10px;
}

#upBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    background: var(--theme-color);
    border: none;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 3px var(--color);
    color: var(--text-color);
    z-index: 1;
}

@media screen and (max-width: 978px) {
    .hamburger {
        display: block;
        padding: 5px;
        z-index: 1;
    }
    .hamburger.hamburger-active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.hamburger-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.hamburger-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation-menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--content-bg);
        gap: 50px;
        padding: 0;
        box-shadow: 0 0 1px #000;
        margin: 0;
        transition: 0.3s ease-in-out;
        z-index: 1;
    }
    .navigation-menu.navMenu-active {
        right: 0;
    }
    .sideMenu-content {
        width: 100%;
    }
}

.sideMenu-content::-webkit-scrollbar,
.category-menu::-webkit-scrollbar {
    display: none;
}

.subBrand {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 10px;
}

.subBrand img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    border: 2px solid var(--color);
    background: var(--color);
}

.subBrand p {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'myFont', sans-serif;
    margin: 0;
}

.sideMenu-content {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--theme-color);
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    overflow: auto;
}

.sideMenu-content h2 {
    color: var(--text-color);
    margin: 0;
    padding: 15px;
}

.sideMenu-content a {
    color: var(--color);
    border-radius: 50px;
    padding: 15px 15px;
    margin: 3px;
}

.span-btn {
    display: flex;
    flex-direction: column;
    background: var(--content-bg);
    border-radius: 18px;
    margin: 5px;
    padding: 5px;
}

.sideMenu-content a:hover {
    background: var(--theme-overlay);
}

.show-sideMenu {
    transform: translateX(0);
    opacity: 1;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: var(--overlay);
    z-index: 10000;
    display: none;
}

.secondary-navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background: var(--content-bg);
    box-shadow: 0 0 2px var(--color);
    color: var(--text-color);
    top: 50px;
    z-index: 99;
}

.secondary-navigation h1 {
    text-align: center;
    color: var(--color);
    margin: 0 auto;
    font-family: 'myFont', sans-serif;
}

.category-btn {
    position: absolute;
    left: 0;
    margin: auto 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid var(--color);
    border-radius: 50px;
    background: var(--theme-color);
    cursor: pointer;
}

.category-dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 1px;
    background: var(--color);
    border-radius: 50%;
    cursor: pointer;
}

.category-menu {
    position: fixed;
    top: 100px;
    left: 0;
    background: var(--content-bg);
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    height: 100vh;
    padding: 0 0 50px 0;
    margin: 0;
    justify-content: left;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    backdrop-filter: blur(5px);
    opacity: 0;
    overflow: auto;
}

.category-menu h2 {
    color: var(--text-color);
    background: var(--color);
    margin: 0;
    padding: 15px;
    font-family: 'myFont', sans-serif;
}

.category-item {
    display: flex;
}

.category-item a {
    width: 100%;
    color: var(--color);
    border-radius: 50px;
    padding: 15px 15px;
    margin: 5px;
}

.category-item span {
    font-family: 'myFont', sans-serif;
}

.category-item a:hover {
    background: var(--theme-overlay);
}

.category-menu.categoryMenu-show {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
}

option {
    background: var(--content-bg);
}

@media (max-width: 600px) {
    .search-result {
        left: 0;
        width: 100%;
    }
    .currency-conversion-btn {
        width: 90px;
    }
    @media screen and (max-width: 500px) {
        .brand a {
            display: none;
        }
        .category-menu h2 {
            text-align: left;
        }
        .category-menu {
            width: 100%;
        }
        .help-btn {
            padding: 5px 10px;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px;
    background: var(--content-bg);
    box-shadow: 0 0 2px var(--color);
    color: var(--color);
    text-align: center;
}

.copyright p {
    text-align: center;
    justify-content: center;
    color: var(--color);
}

.copyright p, .copyright a, .copyright span {
    font-family: 'myFont', sans-serif;
}

.detail {
    color: var(--text-color);
    padding: 0 2px;
    transition: 0.3s ease-in-out;
}

.detail:hover {
    color: var(--color);
}

.social {
    position: relative;
    margin: 10px 0 auto;
}

.social img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    background: var(--overlay);
    margin: 0 3px;
    object-fit: cover;
    cursor: pointer;
}
