.image-container {
    width: 100%;
    min-height: 100vh;
    margin-top: 100px;
    padding: 5px;
}

.gallary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 5px;
}

.gallary a {
    overflow: hidden;
    aspect-ratio: 1/1;
    background: var(--content-bg);
    border-radius: 10px;
    box-shadow: 0 0 2px var(--color);
}

.gallary img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.gallary img:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

@media screen and (max-width: 500px) {
    .gallary {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .gallary img {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .gallary img:hover {
        transform: none;
        box-shadow: none;
        border: 0;
    }
    .up-container img {
        left: 0;
    }
}
