#preferences-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 10px 20px;
    gap: 10px;
}

#preferences-container h1 {
    color: var(--color);
    text-align: center;
    font-family: 'myFont', sans-serif;
}

label {
    color: var(--text-color);
    font-family: 'myFont', sans-serif;
}

#theme-select,
#languageSwitcher {
    background: none;
    border: 2px solid var(--color);
    border-radius: 50px;
    color: var(--color);
    max-width: 200px;
    padding: 10px;
    cursor: pointer;
}

#theme-select:focus,
#languageSwitcher:focus {
    border-color: var(--theme-overlay);
    outline: 2px solid var(--theme-overlay);
}