#preferences-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 10px 20px;
    gap: 10px;
}

#preferences-container h1 {
    color: var(--accent-color);
    text-align: center;
    font-family: var(--my-font);
}

label {
    color: var(--accent-color);
    font-family: var(--my-font);
}

#theme-select,
#languageSwitcher {
    background: var(--content-color);
    border: unset;
    box-shadow: var(--shadow);
    border-radius: 50px;
    color: var(--text-color);
    max-width: 200px;
    padding: 10px;
    cursor: pointer;
}

#theme-select:focus,
#languageSwitcher:focus {
    border-color: var(--colored-overlay);
    outline: 2px solid var(--colored-overlay);
}