#preferences-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 10px;
    gap: 10px;
}

#preferences-container h1 {
    color: var(--color);
    text-align: center;
}

#preferences-container h2 {
    color: var(--text-color);
}

#theme-select,
#languageSwitcher {
    background: none;
    border: 1px solid;
    border-radius: 10px;
    color: var(--color);
    max-width: 200px;
    padding: 10px;
    cursor: pointer;
}

#theme-select:focus,
#languageSwitcher:focus {
    outline: none;
}