.pp-overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    background: var(--theme-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    padding-top: 90px;
}

.pp-container h2,
.pp-container h3 {
    color: inherit;
    padding: 12px;
}

.pp-container h2 {
    background: inherit;
    border-radius: 10px;
    margin: 0;
}

.pp-container li,
.pp-container p {
    color: inherit;
    list-style-image: url("../assets/images/bullet/n-bullet.png");
    padding: 12px;
}

.pp-container ul {
    max-width: 1000px;
    padding: 0;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.pp-item {
    background: var(--theme-overlay);
    border-radius: 10px;
    margin: 5px;
}

.pp-item ul {
    text-align: justify;
}

.pp-item p {
    text-align: justify;
}


.pp-container ul a {
    color: var(--color);
}

/* Hide Scrollbar for WebKit Browsers */
.pp-container ul::-webkit-scrollbar {
    display: none;
}