.tos-overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    background: url('../images/bg/lbg_main1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    padding-top: 90px;
}

.tos-container li {
    color: inherit;
    list-style: none;
}

.tos-container ul {
    max-width: 1000px;
    padding: 0;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.tos-item {
    background: var(--theme-color);
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 2px;;
}

.tos-item p {
    text-align: justify;
}

.tos-container ul {
    color: var(--text-color);
}

.tos-container ul,
.tos-container li {
    line-height: 1.6;
}

.tos-container ul::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 500px) {
    .tos-overlay {
        background: url('../images/bg/pbg_main1.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}